// BLOCKS / BLOQUES
// ========================================================================

section, main, aside
	clear: both
	padding: $padding-blocks

.block1
	background: $block1-bg
	padding: $padding-blocks
	clear: both
	color: $block1-color

	h1, h2, h3, h4
		color: $block1-color-headings

	p
		color: $block1-color

	a:not(.btn)
		color: $block1-color-link

		&:hover
			color: $block1-color-link-hover

	em
		color: $block1-color-em

	blockquote
		color: $block1-color-blockquote

	ul li
		color: $block1-color-li

		&:before
			background-image: url(../assets/icons/#{$block1-icon-li}.svg)

	ol li
		&:before
			color: $block1-color-ol-num

	hr
		background: $block1-hr-color

	label
		color: $block1-label-color

	.btn-primary
		color: $block1-btn-primary-color
		background: $block1-btn-primary-bg
		border: $block1-btn-primary-border

		&:hover
			color: $block1-btn-primary-color-hover
			background: $block1-btn-primary-bg-hover
			border: $block1-btn-primary-border-hover

		&:active,
		&.active
			background: $block1-btn-primary-bg
			border: $block1-btn-primary-border
			color: $block1-btn-primary-color

	.btn-secondary
		color: $block1-btn-secondary-color
		background: $block1-btn-secondary-bg
		border: $block1-btn-secondary-border
		
		&:hover
			color: $block1-btn-secondary-color-hover
			background: $block1-btn-secondary-bg-hover
			border: $block1-btn-secondary-border-hover

		&:active,
		&.active
			background: $block1-btn-secondary-bg
			border: $block1-btn-secondary-border
			color: $block1-btn-secondary-color

	.btn-link
		padding: 0
		background-color: transparent
		color: $block1-btn-link-color
		text-decoration: $block1-btn-link-text-decoration
		border: transparent
		border-radius: 0
		box-shadow: none

		&:active,
		&.active,
		&:disabled
			background-color: transparent

		&:focus,
		&:active
			border: transparent
			box-shadow: none

		&:hover
			border: transparent
			color: $block1-btn-link-color-hover
			text-decoration: $block1-btn-link-text-decoration-hover

		&:focus
			background-color: transparent
			color: $block1-btn-link-color
			text-decoration: underline

		&:disabled
			color: rgba($block1-btn-link-color, .65)
			text-decoration: none
			&:focus, &:hover
				text-decoration: none

	.btn-ghost
		background: $block1-btn-ghost-bg
		border: $block1-btn-ghost-border
		color: $block1-btn-ghost-color
		
		&:hover
			background: $block1-btn-ghost-bg-hover
			border: $block1-btn-ghost-border-hover
			color: $block1-btn-ghost-color-hover

		&:active,
		&.active
			background: $block1-btn-ghost-bg
			border: $block1-btn-ghost-border
			color: $block1-btn-ghost-color


.block2
	background: $block2-bg
	padding: $padding-blocks
	clear: both
	color: $block2-color

	h1, h2, h3, h4
		color: $block2-color-headings

	p
		color: $block2-color

	a:not(.btn)
		color: $block2-color-link

		&:hover
			color: $block2-color-link-hover

	em
		color: $block2-color-em

	blockquote
		color: $block2-color-blockquote

	ul li
		color: $block2-color-li

		&:before
			background-image: url(../assets/icons/#{$block2-icon-li}.svg)

	ol li
		&:before
			color: $block2-color-ol-num

	hr
		background: $block2-hr-color

	label
		color: $block2-label-color

	.btn-primary
		color: $block2-btn-primary-color
		background: $block2-btn-primary-bg
		border: $block2-btn-primary-border

		&:hover
			color: $block2-btn-primary-color-hover
			background: $block2-btn-primary-bg-hover
			border: $block2-btn-primary-border-hover

		&:active,
		&.active
			background: $block2-btn-primary-bg
			border: $block2-btn-primary-border
			color: $block2-btn-primary-color

	.btn-secondary
		color: $block2-btn-secondary-color
		background: $block2-btn-secondary-bg
		border: $block2-btn-secondary-border
		
		&:hover
			color: $block2-btn-secondary-color-hover
			background: $block2-btn-secondary-bg-hover
			border: $block2-btn-secondary-border-hover

		&:active,
		&.active
			background: $block2-btn-secondary-bg
			border: $block2-btn-secondary-border
			color: $block2-btn-secondary-color

	.btn-link
		padding: 0
		background-color: transparent
		color: $block2-btn-link-color
		text-decoration: $block2-btn-link-text-decoration
		border: transparent
		border-radius: 0
		box-shadow: none

		&:active,
		&.active,
		&:disabled
			background-color: transparent

		&:focus,
		&:active
			border: transparent
			box-shadow: none

		&:hover
			border: transparent
			color: $block2-btn-link-color-hover
			text-decoration: $block2-btn-link-text-decoration-hover

		&:focus
			background-color: transparent
			color: $block2-btn-link-color
			text-decoration: underline

		&:disabled
			color: rgba($block2-btn-link-color, .65)
			text-decoration: none
			&:focus, &:hover
				text-decoration: none

	.btn-ghost
		background: $block2-btn-ghost-bg
		border: $block2-btn-ghost-border
		color: $block2-btn-ghost-color
		
		&:hover
			background: $block2-btn-ghost-bg-hover
			border: $block2-btn-ghost-border-hover
			color: $block2-btn-ghost-color-hover

		&:active,
		&.active
			background: $block2-btn-ghost-bg
			border: $block2-btn-ghost-border
			color: $block2-btn-ghost-color

.block3
	background: $block3-bg
	padding: $padding-blocks
	clear: both
	color: $block3-color

	h1, h2, h3, h4
		color: $block3-color-headings

	p
		color: $block3-color

	a:not(.btn)
		color: $block3-color-link

		&:hover
			color: $block3-color-link-hover

	em
		color: $block3-color-em

	blockquote
		color: $block3-color-blockquote

	ul li
		color: $block3-color-li

		&:before
			background-image: url(../assets/icons/#{$block3-icon-li}.svg)

	ol li
		&:before
			color: $block3-color-ol-num

	hr
		background: $block3-hr-color

	label
		color: $block3-label-color

	.btn-primary
		color: $block3-btn-primary-color
		background: $block3-btn-primary-bg
		border: $block3-btn-primary-border

		&:hover
			color: $block3-btn-primary-color-hover
			background: $block3-btn-primary-bg-hover
			border: $block3-btn-primary-border-hover

		&:active,
		&.active
			background: $block3-btn-primary-bg
			border: $block3-btn-primary-border
			color: $block3-btn-primary-color

	.btn-secondary
		color: $block3-btn-secondary-color
		background: $block3-btn-secondary-bg
		border: $block3-btn-secondary-border
		
		&:hover
			color: $block3-btn-secondary-color-hover
			background: $block3-btn-secondary-bg-hover
			border: $block3-btn-secondary-border-hover

		&:active,
		&.active
			background: $block3-btn-secondary-bg
			border: $block3-btn-secondary-border
			color: $block3-btn-secondary-color

	.btn-link
		padding: 0
		background-color: transparent
		color: $block3-btn-link-color
		text-decoration: $block3-btn-link-text-decoration
		border: transparent
		border-radius: 0
		box-shadow: none

		&:active,
		&.active,
		&:disabled
			background-color: transparent

		&:focus,
		&:active
			border: transparent
			box-shadow: none

		&:hover
			border: transparent
			color: $block3-btn-link-color-hover
			text-decoration: $block3-btn-link-text-decoration-hover

		&:focus
			background-color: transparent
			color: $block3-btn-link-color
			text-decoration: underline

		&:disabled
			color: rgba($block3-btn-link-color, .65)
			text-decoration: none
			&:focus, &:hover
				text-decoration: none

	.btn-ghost
		background: $block3-btn-ghost-bg
		border: $block3-btn-ghost-border
		color: $block3-btn-ghost-color
		
		&:hover
			background: $block3-btn-ghost-bg-hover
			border: $block3-btn-ghost-border-hover
			color: $block3-btn-ghost-color-hover

		&:active,
		&.active
			background: $block3-btn-ghost-bg
			border: $block3-btn-ghost-border
			color: $block3-btn-ghost-color

@media (min-width: $grid-breakpoint)
	section, main, aside
		padding: $padding-blocks-max

	.block1
		padding: $block1-padding-max
		
	.block2
		padding: $block2-padding-max

	.block3
		padding: $block3-padding-max