// BUTTONS / BOTONES
// ========================================================================

.btn
	display: inline-block
	margin: $btn-margin
	padding: $btn-padding
	border: $btn-border
	border-radius: $btn-border-radius
	font-family: $btn-font-family
	font-size: $btn-font-size
	text-align: center
	text-decoration: $btn-text-decoration
	text-transform: $btn-text-transform
	transition: all 0.15s ease-in-out
	cursor: pointer
	user-select: none
	-moz-user-select: none
	-ms-user-select: none
	-webkit-user-select: none
	-webkit-appearance: none
	vertical-align: middle

	&:focus,
	&:hover
		text-decoration: none

	&:focus,
	&.focus
		box-shadow: none
		outline: 0

	&.disabled,
	&:disabled
		opacity: .65

	&:active,
	&.active
		background-image: none

.btn-lg
	padding: $btn-lg-padding
	font-size: $btn-lg-font-size
	line-height: 1.5

.btn-sm
	padding: $btn-sm-padding
	font-size: $btn-sm-font-size
	line-height: 1.5

.btn-block
	display: block
	width: 100%

	+ .btn-block
		margin-top: 0.5rem

.btn-primary
	color: $btn-primary-color
	background: $btn-primary-bg
	border: $btn-primary-border

	&:hover
		color: $btn-primary-color-hover
		background: $btn-primary-bg-hover
		border: $btn-primary-border-hover

	&:active,
	&.active
		background: $btn-primary-bg
		border: $btn-primary-border
		color: $btn-primary-color

.btn-secondary
	color: $btn-secondary-color
	background: $btn-secondary-bg
	border: $btn-secondary-border
	
	&:hover
		color: $btn-secondary-color-hover
		background: $btn-secondary-bg-hover
		border: $btn-secondary-border-hover

	&:active,
	&.active
		background: $btn-secondary-bg
		border: $btn-secondary-border
		color: $btn-secondary-color

.btn-link
	padding: 0
	background-color: transparent
	color: $btn-link-color
	text-decoration: $btn-link-text-decoration
	border: transparent
	border-radius: 0
	box-shadow: none

	&:active,
	&.active,
	&:disabled
		background-color: transparent

	&:focus,
	&:active
		border: transparent
		box-shadow: none

	&:hover
		border: transparent
		color: $btn-link-color-hover
		text-decoration: $btn-link-text-decoration-hover

	&:focus
		background-color: transparent
		color: $btn-link-color
		text-decoration: underline

	&:disabled
		color: rgba($btn-link-color, .65)
		text-decoration: none
		&:focus, &:hover
			text-decoration: none

.btn-ghost
	background: $btn-ghost-bg
	border: $btn-ghost-border
	color: $btn-ghost-color
	
	&:hover
		background: $btn-ghost-bg-hover
		border: $btn-ghost-border-hover
		color: $btn-ghost-color-hover

	&:active,
	&.active
		background: $btn-ghost-bg
		border: $btn-ghost-border
		color: $btn-ghost-color
