// BODY
// =====================================================================

.generalContent
	padding: $body-padding

	&.generalContent--home
		padding: $body-home-padding

@media (min-width: $grid-breakpoint)
	.generalContent
		padding: $body-padding-max

		&.generalContent--home
			padding: $body-home-padding-max

