// 10. FORMS / FORMULARIOS / CONTACTO
// ========================================================================

.form-row
	display: flex
	display: -ms-flexbox
	flex-wrap: wrap
	-ms-flex-wrap: wrap
	margin-left: -$form-gutter/2
	margin-right: -$form-gutter/2

	> .col, [class*="col-"]
		padding-left: $form-gutter/2
		padding-right: $form-gutter/2

.form-group
	margin: $form-group-margin

label
	color: $label-color
	font-size: $label-font-size
	font-family: $label-font-family
	margin: $label-margin
	text-transform: $label-text-transform
	letter-spacing: $label-letter-spacing
	line-height: 1

.form-control
	background: $input-bg
	background-clip: padding-box
	background-image: none
	border: $input-border
	border-radius: $input-border-radius
	color: $input-color
	display: block
	font-size: $input-font-size
	font-family: $input-font-family
	padding: $input-padding
	line-height: 1.25
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s
	width: 100%

	&::-ms-expand
		background-color: transparent
		border: 0

	&:focus
		background: $input-bg-focus
		border: $input-border-focus
		color: $input-color-focus
		outline: none

	&::-webkit-input-placeholder,
	&:-ms-input-placeholder,
	&::placeholder
		color: $input-placeholder-color
		opacity: 1

	&:disabled, &[readonly]
		background: $input-bg-disabled
		opacity: 1

.form-control.is-valid
	border-color: $color-success

.form-control.is-invalid
	border-color: $color-danger

.invalid-feedback
	color: $color-danger
	display: none
	font-size: .875rem
	margin-top: .25rem

.custom-control
	display: inline-flex
	display: -ms-inline-flexbox
	align-items: center
	margin-right: 1rem
	position: relative

.custom-control-input
	opacity: 0
	position: absolute
	z-index: -1

.custom-control-indicator
	background-size: 100%
	background-position: center
	cursor: pointer
	display: block
	left: -2px
	pointer-events: none
	position: absolute
	user-select: none
	-ms-user-select: none
	-moz-user-select: none
	-webkit-user-select: none

.custom-checkbox
	padding-left: $checkbox-icon-width + .2

	.custom-control-indicator
		background-image: url("../assets/icons/#{$checkbox-icon}.svg")
		height: $checkbox-icon-height
		width: $checkbox-icon-width

	.custom-control-input
		&:checked ~ .custom-control-indicator
			background-image: url("../assets/icons/#{$checkbox-icon-checked}.svg")

		&:indeterminate ~ .custom-control-indicator
			background-image: url("../assets/icons/#{$checkbox-icon-checked}.svg")

		&:disabled ~ .custom-control-indicator
			opacity: .4
			background-image: url("../assets/icons/#{$checkbox-icon-disabled}.svg")

		&:disabled ~ .custom-control-description
			opacity: .4

.custom-radio
	padding-left: $radio-icon-width + .2

	.custom-control-indicator
		background-image: url("../assets/icons/#{$radio-icon}.svg")
		height: $radio-icon-height
		width: $radio-icon-width

	.custom-control-input
		&:checked ~ .custom-control-indicator
			background-image: url("../assets/icons/#{$radio-icon-checked}.svg")

		&:disabled ~ .custom-control-indicator
			opacity: .4
			background-image: url("../assets/icons/#{$radio-icon-disabled}.svg")

		&:disabled ~ .custom-control-description
			opacity: .4

.custom-select
	appearance: none
	-moz-appearance: none
	-webkit-appearance: none
	background: $select-bg url("../assets/icons/#{$select-icon}.svg") no-repeat right 0.75rem center
	background-size: $select-icon-size $select-icon-size
	border: $select-border
	border-radius: $select-border-radius
	color: $select-color
	display: block
	font-size: $select-font-size
	line-height: 1.25
	padding: $select-padding
	vertical-align: middle
	width: 100%

	&:focus
		background: $select-bg-focus url("../assets/icons/#{$select-icon}.svg") no-repeat right 0.75rem center
		background-size: $select-icon-size $select-icon-size
		border: $select-border-focus
		color: $select-color-focus
		outline: none

		&::-ms-value
			background: $select-bg-focus url("../assets/icons/#{$select-icon}.svg") no-repeat right 0.75rem center
			background-size: $select-icon-size $select-icon-size
			color: $select-color-focus

	&:disabled
		background: $select-bg-disabled
		opacity: 1
		
	&::-ms-expand
		opacity: 0

select.form-control:not([size]):not([multiple])
	height: inherit

// file / .custom-file
.custom-file
	display: inline-block
	height: $file-height
	margin-bottom: 0
	width: 100%
	position: relative

.custom-file-input
	height: $file-height
	margin: 0
	max-width: 100%
	min-width: 14rem
	opacity: 0

.custom-file-control
	background-color: $file-bg
	border: $file-border
	border-radius: $file-border-radius
	color: $file-color
	height: $file-height
	left: 0
	line-height: 1.4
	padding: $file-padding
	pointer-events: none
	position: absolute
	right: 0
	top: 0
	user-select: none
	-ms-user-select: none
	-moz-user-select: none
	-webkit-user-select: none
	z-index: 5

	&::before
		background: $file-btn-bg
		border: $file-btn-border
		border-radius: $file-btn-border-radius
		padding: $file-btn-padding
		bottom: -1px
		content: ''
		color: $file-btn-color
		display: block
		height: $file-height
		line-height: 1.4
		position: absolute
		right: -1px
		top: -1px
		z-index: 6
		display: flex
		align-items: center
		justify-content: center

	&:lang(es):before
		content: "Buscar"
		font-size: 0.875rem

	&:lang(es):empty::after
		content: "Adjuntar imagenes"
		font-size: 0.875rem

	&:lang(en):before
		content: "Browse"
		font-size: 0.875rem

	&:lang(en):empty::after
		content: "Send images..."
		font-size: 0.875rem

.form-group--placeholder
	position: relative

	label
		position: absolute
		top: 0.7rem
		left: 1.5rem
		color: #c3c3c3
		&.custom-radio,
		&.custom-checkbox
			color: $color-text
			position: relative
			top: initial
			left: initial

			.custom-control-indicator
				margin-top: -2px

input:focus ~ label,
input.filled ~ label,
textarea:focus ~ label,
textarea.filled ~ label,
select:focus ~ label,
select.filled ~ label		
	display: none
