.container
	width: 100%
	padding-right: $grid-gutter/2
	padding-left: $grid-gutter/2
	margin-right: auto
	margin-left: auto

@media (min-width: $grid-breakpoint-xs)
	.container
		max-width: $grid-breakpoint-xs - 24

@media (min-width: $grid-breakpoint-sm)
	.container
		max-width: $grid-breakpoint-sm - 36

@media (min-width: $grid-breakpoint-md)
	.container
		max-width: $grid-breakpoint-md - 48

@media (min-width: $grid-breakpoint-lg)
	.container
		max-width: $grid-breakpoint-lg - 32

@media (min-width: $grid-breakpoint-xl)
	.container
		max-width: $grid-breakpoint-xl - 60

.container-fluid
	width: 100%
	padding-right: $grid-gutter/2
	padding-left: $grid-gutter/2
	margin-right: auto
	margin-left: auto

.row
	display: -ms-flexbox
	display: flex
	-ms-flex-wrap: wrap
	flex-wrap: wrap
	margin-right: -#{$grid-gutter/2}
	margin-left: -#{$grid-gutter/2}

.no-gutters
	margin-right: 0
	margin-left: 0

.no-gutters > .col,
.no-gutters > [class*="col-"]
	padding-right: 0
	padding-left: 0

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto
	position: relative
	width: 100%
	padding-right: $grid-gutter/2
	padding-left: $grid-gutter/2

@each $breakpoint, $media in $breackpoints
	.col#{$breakpoint}-1, .col#{$breakpoint}-2, .col#{$breakpoint}-3, .col#{$breakpoint}-4, .col#{$breakpoint}-5, .col#{$breakpoint}-6, .col#{$breakpoint}-7, .col#{$breakpoint}-8, .col#{$breakpoint}-9, .col#{$breakpoint}-10, .col#{$breakpoint}-11, .col#{$breakpoint}-12 .col#{$breakpoint}-auto
		position: relative
		width: 100%
		padding-right: $grid-gutter/2
		padding-left: $grid-gutter/2

.col
	-ms-flex-preferred-size: 0
	flex-basis: 0
	-ms-flex-positive: 1
	flex-grow: 1
	max-width: 100%

.col-auto
	-ms-flex: 0 0 auto
	flex: 0 0 auto
	width: auto
	max-width: 100%

.col-1
	-ms-flex: 0 0 8.333333%
	flex: 0 0 8.333333%
	max-width: 8.333333%

.col-2
	-ms-flex: 0 0 16.666667%
	flex: 0 0 16.666667%
	max-width: 16.666667%

.col-3
	-ms-flex: 0 0 25%
	flex: 0 0 25%
	max-width: 25%

.col-4
	-ms-flex: 0 0 33.333333%
	flex: 0 0 33.333333%
	max-width: 33.333333%

.col-5
	-ms-flex: 0 0 41.666667%
	flex: 0 0 41.666667%
	max-width: 41.666667%

.col-6
	-ms-flex: 0 0 50%
	flex: 0 0 50%
	max-width: 50%

.col-7
	-ms-flex: 0 0 58.333333%
	flex: 0 0 58.333333%
	max-width: 58.333333%

.col-8
	-ms-flex: 0 0 66.666667%
	flex: 0 0 66.666667%
	max-width: 66.666667%

.col-9
	-ms-flex: 0 0 75%
	flex: 0 0 75%
	max-width: 75%

.col-10
	-ms-flex: 0 0 83.333333%
	flex: 0 0 83.333333%
	max-width: 83.333333%

.col-11
	-ms-flex: 0 0 91.666667%
	flex: 0 0 91.666667%
	max-width: 91.666667%

.col-12
	-ms-flex: 0 0 100%
	flex: 0 0 100%
	max-width: 100%

.order-first
	-ms-flex-order: -1
	order: -1

.order-last
	-ms-flex-order: 13
	order: 13

.order-0
	-ms-flex-order: 0
	order: 0

.order-1
	-ms-flex-order: 1
	order: 1

.order-2
	-ms-flex-order: 2
	order: 2

.order-3
	-ms-flex-order: 3
	order: 3

.order-4
	-ms-flex-order: 4
	order: 4

.order-5
	-ms-flex-order: 5
	order: 5

.order-6
	-ms-flex-order: 6
	order: 6

.order-7
	-ms-flex-order: 7
	order: 7

.order-8
	-ms-flex-order: 8
	order: 8

.order-9
	-ms-flex-order: 9
	order: 9

.order-10
	-ms-flex-order: 10
	order: 10

.order-11
	-ms-flex-order: 11
	order: 11

.order-12
	-ms-flex-order: 12
	order: 12

.offset-1
	margin-left: 8.333333%

.offset-2
	margin-left: 16.666667%

.offset-3
	margin-left: 25%

.offset-4
	margin-left: 33.333333%

.offset-5
	margin-left: 41.666667%

.offset-6
	margin-left: 50%

.offset-7
	margin-left: 58.333333%

.offset-8
	margin-left: 66.666667%

.offset-9
	margin-left: 75%

.offset-10
	margin-left: 83.333333%

.offset-11
	margin-left: 91.666667%


@each $breakpoint, $media in $breackpoints
	@media (min-width: #{$media})
		.col#{$breakpoint}
			-ms-flex-preferred-size: 0
			flex-basis: 0
			-ms-flex-positive: 1
			flex-grow: 1
			max-width: 100%

		.col#{$breakpoint}-auto
			-ms-flex: 0 0 auto
			flex: 0 0 auto
			width: auto
			max-width: 100%

		.col#{$breakpoint}-1
			-ms-flex: 0 0 8.333333%
			flex: 0 0 8.333333%
			max-width: 8.333333%

		.col#{$breakpoint}-2
			-ms-flex: 0 0 16.666667%
			flex: 0 0 16.666667%
			max-width: 16.666667%

		.col#{$breakpoint}-3
			-ms-flex: 0 0 25%
			flex: 0 0 25%
			max-width: 25%

		.col#{$breakpoint}-4
			-ms-flex: 0 0 33.333333%
			flex: 0 0 33.333333%
			max-width: 33.333333%

		.col#{$breakpoint}-5
			-ms-flex: 0 0 41.666667%
			flex: 0 0 41.666667%
			max-width: 41.666667%

		.col#{$breakpoint}-6
			-ms-flex: 0 0 50%
			flex: 0 0 50%
			max-width: 50%

		.col#{$breakpoint}-7
			-ms-flex: 0 0 58.333333%
			flex: 0 0 58.333333%
			max-width: 58.333333%

		.col#{$breakpoint}-8
			-ms-flex: 0 0 66.666667%
			flex: 0 0 66.666667%
			max-width: 66.666667%

		.col#{$breakpoint}-9
			-ms-flex: 0 0 75%
			flex: 0 0 75%
			max-width: 75%

		.col#{$breakpoint}-10
			-ms-flex: 0 0 83.333333%
			flex: 0 0 83.333333%
			max-width: 83.333333%

		.col#{$breakpoint}-11
			-ms-flex: 0 0 91.666667%
			flex: 0 0 91.666667%
			max-width: 91.666667%

		.col#{$breakpoint}-12
			-ms-flex: 0 0 100%
			flex: 0 0 100%
			max-width: 100%

		.order#{$breakpoint}-first
			-ms-flex-order: -1
			order: -1

		.order#{$breakpoint}-last
			-ms-flex-order: 13
			order: 13

		.order#{$breakpoint}-0
			-ms-flex-order: 0
			order: 0

		.order#{$breakpoint}-1
			-ms-flex-order: 1
			order: 1

		.order#{$breakpoint}-2
			-ms-flex-order: 2
			order: 2

		.order#{$breakpoint}-3
			-ms-flex-order: 3
			order: 3

		.order#{$breakpoint}-4
			-ms-flex-order: 4
			order: 4

		.order#{$breakpoint}-5
			-ms-flex-order: 5
			order: 5

		.order#{$breakpoint}-6
			-ms-flex-order: 6
			order: 6

		.order#{$breakpoint}-7
			-ms-flex-order: 7
			order: 7

		.order#{$breakpoint}-8
			-ms-flex-order: 8
			order: 8

		.order#{$breakpoint}-9
			-ms-flex-order: 9
			order: 9

		.order#{$breakpoint}-10
			-ms-flex-order: 10
			order: 10

		.order#{$breakpoint}-11
			-ms-flex-order: 11
			order: 11

		.order#{$breakpoint}-12
			-ms-flex-order: 12
			order: 12

		.offset#{$breakpoint}-0
			margin-left: 0

		.offset#{$breakpoint}-1
			margin-left: 8.333333%

		.offset#{$breakpoint}-2
			margin-left: 16.666667%

		.offset#{$breakpoint}-3
			margin-left: 25%

		.offset#{$breakpoint}-4
			margin-left: 33.333333%

		.offset#{$breakpoint}-5
			margin-left: 41.666667%

		.offset#{$breakpoint}-6
			margin-left: 50%

		.offset#{$breakpoint}-7
			margin-left: 58.333333%

		.offset#{$breakpoint}-8
			margin-left: 66.666667%

		.offset#{$breakpoint}-9
			margin-left: 75%

		.offset#{$breakpoint}-10
			margin-left: 83.333333%

		.offset#{$breakpoint}-11
			margin-left: 91.666667%