// SOCIAL MENU HEADER
// =====================================================================

@if ($headerSocialActive == true)
	.socialMenu
		margin: $header-social-margin
		display: flex

		a
			margin: $header-social-icon-margin
			width: $header-social-icon-width
			height: $header-social-icon-height

			&:before
				margin: 0
				width: $header-social-icon-width
				height: $header-social-icon-height

		@each $social-name in $social-icons
			.social_#{$social-name}:before
				background-image: url(../assets/icons/social_#{$social-name}#{$header-social-icon-color}.svg)

			.social_#{$social-name}:hover
				&:before
					background-image: url(../assets/icons/social_#{$social-name}#{$header-social-icon-color-hover}.svg)

	// DESKTOP STYLES
	@media (min-width: $breakpoint-header-social)
		.socialMenu
			position: absolute
			width: auto
			top: $header-social-top-max
			right: $header-social-right-max
			bottom: $header-social-bottom-max
			left: $header-social-left-max
			margin: $header-social-margin-max

			a
				margin: $header-social-icon-margin-max
				width: $header-social-icon-width-max
				height: $header-social-icon-height-max

				&:before
					margin: 0
					width: $header-social-icon-width-max
					height: $header-social-icon-height-max

			@each $social-name in $social-icons
				.social_#{$social-name}:before
					background-image: url(../assets/icons/social_#{$social-name}#{$header-social-icon-color-max}.svg)
					
				.social_#{$social-name}:hover
					&:before
						background-image: url(../assets/icons/social_#{$social-name}#{$header-social-icon-color-hover-max}.svg)
