// Usage Example:

// Use the classes below p.e: <section class="incline-tr-white incline-br-white">  and you will have < form creating a before and an after !! :D



$incline-height: 10vw
$incline-colors: ((black, #000000), (white, #FFFFFF))

//Triángulo inclinado en el top
=inclineTop
	content: ''
	display: block
	position: absolute
	top: -#{$incline-height}
	left: 0
	width: 0
	height: 0
	border-style: solid
	z-index: 0


@each $color, $hex in $incline-colors
	.incline-tr-#{$color},
	.incline-tl-#{$color}
		margin-top: #{$incline-height}

	.incline-br-#{$color},
	.incline-bl-#{$color}
		margin-bottom: #{$incline-height}

	.incline-tr-#{$color}
		position: relative
		&:before
			+inclineTop
			border-width: 0 0 #{$incline-height} 100vw
			border-color: transparent transparent #{$hex} transparent

	.incline-tl-#{$color}
		position: relative
		&:before
			+inclineTop
			border-width: #{$incline-height} 0 0 100vw
			border-color: transparent transparent transparent #{$hex}


//Triángulo inclinado en el bottom
=inclineBottom
	content: ''
	display: block
	position: absolute
	top: inherit
	bottom: -#{$incline-height}
	left: 0
	width: 0
	height: 0
	border-style: solid
	z-index: 0

@each $color, $hex in $incline-colors
	.incline-tr-#{$color},
	.incline-tl-#{$color}
		margin-top: #{$incline-height}

	.incline-br-#{$color},
	.incline-bl-#{$color}
		margin-bottom: #{$incline-height}

	.incline-br-#{$color}
		position: relative
		&:after
			+inclineBottom
			border-width: 0 100vw #{$incline-height} 0
			border-color: transparent #{$hex} transparent transparent

	.incline-bl-#{$color}
		position: relative
		&:after
			+inclineBottom
			border-width: #{$incline-height} 100vw 0 0
			border-color: #{$hex} transparent transparent transparent
