=section-img-left($img-width, $cols-content, $offset-content)
    position: relative

    .image
        width: $img-width
        height: 100%
        position: absolute
        top: 0
        left: 0

    .container
        @for $c from 1 through 12
            @if ($cols-content == 'col-#{$c}')
                .content
                    @extend .col-#{$c}

        @for $o from 1 through 11
            @if ($offset-content == 'offset-#{$o}')
                .content
                    @extend .offset-#{$o}

    @media (max-width: $grid-breakpoint-sm)
        .image
            width: 100%
            position: relative
            left: inherit

        .container
            .content
                width: 100%
                margin: 0
                flex: 100%
                max-width: 100%

=section-img-right($img-width, $cols-content, $offset-content)
    position: relative

    .image
        width: $img-width
        height: 100%
        position: absolute
        top: 0
        left: inherit
        right: 0

    .container
        @for $c from 1 through 12
            @if ($cols-content == 'col-#{$c}')
                .content
                    @extend .col-#{$c}

        @for $o from 1 through 11
            @if ($offset-content == 'offset-#{$o}')
                .content
                    @extend .offset-#{$o}
            @else 
                .content 
                    margin-left: 0

    @media (max-width: $grid-breakpoint-sm)
        .image
            width: 100%
            position: relative
            right: inherit

        .container
            .content
                width: 100%
                margin: 0
                flex: 100%
                max-width: 100%