// ADHOC STYLES
//=============================================================

// Mixins
//-------------------------------------------------------------

// Commons
.generalContent
	overflow-x: hidden

.whiteLetter
	color: #ffffff !important
.whiteBg
	background-color: #ffffff

.blueBg
	background-color: $color-primary
	color: #ffffff
	h2
		color: #ffffff
.lightblueBg
	background-color: $color-success
	color: #ffffff
	h2
		color: #ffffff

.violetBg
	background-color: $color-secondary
	
.z-1
	z-index: 1

.z-2
	z-index: 2

.z-3 
	z-index: 3

.z-0 
	z-index: 0
.w-0 
	width: 0 !important

.btn-primary
	color: #FFF 
	font-weight: bold
	text-decoration: none
	font-family: $link-font-family
	text-transform: uppercase
	background-color: $color-success
	border-radius: 5px
	letter-spacing: 1.2px

.ml-negative
	position: absolute		

// @media (min-width: $grid-breakpoint-sm)

// 	.ml-negative
// 		margin-bottom: 0
// 		margin-left: -16.833333%
// 		position: relative

@media (min-width: $grid-breakpoint-md)

	.ml-negative
		margin-bottom: 0
		margin-left: -16.833333%
		position: relative
	.bottomBLL
		&:before
			content: ""
			display: block
			position: absolute
			top: inherit
			left: -105px
			bottom: 0
			background-image: url('/images/triangulo-bottom-left.svg')
			background-size: cover
			background-repeat: no-repeat
			height: 125px
			width: 125px
			z-index: 1

@media (min-width: $grid-breakpoint-lg)

	.mxb-negative-1
		margin-right: -8.333333%
		margin-bottom: -16.666667%
		margin-left: -8.333333% 

	.my-negative-bot
		margin-bottom: -8.3%
		margin-top: 8.3%

	.ml-negative
		margin-bottom: -75px
		margin-left: -16.833333%
	.bottomBRotate
		&:before
			content: ""
			display: block
			position: absolute
			top: inherit
			left: inherit
			bottom: -125px
			right: 0
			background-image: url(/images/triangulo-bottom.svg)
			background-size: cover
			background-repeat: no-repeat
			height: 125px
			width: 125px
			transform: rotate(90deg)
			z-index: 1

	.bottomBR
		&:before
			content: none
			display: block
			position: absolute
			top: inherit
			left: inherit
			bottom: -125px
			right: 0
			background-image: url(/images/triangulo-bottom.svg)
			background-size: cover
			background-repeat: no-repeat
			height: 125px
			width: 150px
			z-index: 1

	.bottomBL
		&:before
			content: ""
			display: block
			position: absolute
			top: inherit
			left: 0
			bottom: -125px
			background-image: url(/images/triangulo-bottom.svg)
			background-size: cover
			background-repeat: no-repeat
			height: 125px
			width: 125px
			z-index: 1
	.bottomBLL
		height: 250px
		&:before
			content: ""
			display: block
			position: absolute
			top: inherit
			left: -105px
			bottom: 0
			background-image: url(/images/triangulo-bottom-left.svg)
			background-size: cover
			background-repeat: no-repeat
			height: 125px
			width: 125px
			z-index: 1

//-------------------------------------------------------------

// Helpers
//-------------------------------------------------------------

// Blocks
//-------------------------------------------------------------

// Header

header

@media (min-width: $grid-breakpoint-lg)

	header
		.mainMenu
			.mainMenu__nav 
				position: absolute
				top: 40px
				right: inherit
				bottom: inherit
				left: 60px
				margin: 0
				padding: 0
				width: 100%
				height: auto
				background: rgba(0,0,0,0)
				ul.first-level
					>li 
						margin: 0 20px
				li.active 
					&:after
						content: ""
						display: block
						position: absolute
						top: inherit
						bottom: 5px
						left: 50%
						transform: translateX(-50%)
						width: 10px
						height: 10px
						border-radius: 50%
						background-color: #FF8669
		#logo
			width: 200px
			left: 20px
			top: 5px
		.langMenu 
			position: absolute
			width: auto
			top: 40px
			right: 20px
			bottom: inherit
			left: inherit
			margin: 0
			background: #FFF
			padding: 0 10px
			a 
				background: #FFF

//-------------------------------------------------------------

// Footer

footer 
	strong
		font-family: $font-family-bold
		font-size: 1.12rem
	.areaInv	
		a
			color: #FFF
	.logos-footer
		img 
			height: 110px
			margin: 10px 0
//-------------------------------------------------------------

// Slider

.slickSlider--home
	.slickSlider__item
		.img-frame
.claim-container		
	.claim
		background-color: rgba(48, 89, 201, 0.72) 



//-------------------------------------------------------------

// Listado noticias
//-------------------------------------------------------------

// Ficha Noticias
//-------------------------------------------------------------

// Listado de productos
//-------------------------------------------------------------

// Ficha Producto
//-------------------------------------------------------------

// Pages

// PUBLICACIONES

.productsList
	.productsList__item
		margin: 0 0 1rem 0

		.inner-item
			display: flex
			align-items: stretch
			height: 100%
			position: relative
			flex-flow: column
			background-color: inherit
		.thumb-wrapper.color_2
			&:before
				content: ""
				display: block
				position: absolute
				top: 0
				left: 0
				height: 100%
				width: 4px
				background-color: #FF8669
		.thumb-wrapper.color_1	
			&:before
				content: ""
				display: block
				position: absolute
				top: 0
				left: 0
				height: 100%
				width: 4px
				background-color: #9CB6FF
		.thumb-wrapper
			width: 100%
			height: 100%
			margin: 0 0 0rem 0
			padding: 0
			background-color: inherit
			position: relative

			.thumb
				height: 100%

		.content
			width: 100%
			height: auto
			margin: 0
			padding: .5rem
			display: flex
			flex-wrap: wrap
			height: 100%

			.text-wrapper
				width: 100%

				.title
					margin: 0 0 .3rem 0
					text-align: left

					a
						font-size: $h3-font-size
						font-family: $h3-font-family
						text-decoration: none
						color: h3-color

						&:hover
							text-decoration: none
				.date
					font-family: 'hindsiliguri-semibold'
					font-size: 12px
					color: #AAAAAA

				.text
					font-size: 1rem
					font-family: $font-family
					text-align: left
					color: $color-text
					margin: 0
					font-family: 'hindsiliguri-regular'
					strong
						font-family: 'hindsiliguri-semibold'
			.button-wrapper
				width: 100%
				align-self: flex-end
				text-align: left
				.btn.color_2
					color: #FF8669
				.btn.color_1
					color: #9CB6FF
.search form #submit_search 
	background-color: $color-success
	opacity: 1
    border-radius: 5px
	width: 40px
	height: 40px 


.filters-publicaciones
	.first-level
		position: sticky
		top: 200px
	ul
		display: block

	ul.first-level
		margin: $menu-ul-margin
		padding: $menu-ul-padding
		li
			margin: $menu-li-margin
			padding: $menu-li-padding
			.borderB
				border-bottom: 2px solid #000000

			&:before
				display: none

			a, span
				margin: 0
				padding: $menu-a-padding
				font-size: $menu-a-font-size
				font-family: $menu-a-font-family
				text-transform: $menu-a-text-transform
				text-decoration: $menu-a-text-decoration
				color: $menu-a-color
				background: $menu-a-bg
				cursor: pointer
				display: block
				// width: 100%

			// span.toggle-icon
			// 	display: none
			// 	padding: 0

			&.active >
				a,
				span
					color: $menu-a-color-active
					background: $menu-a-bg-active
					text-decoration: $menu-a-text-decoration-active

		> li
			position: relative

		li span.toggle
			position: relative
			color: #000000
			&:before
				content: ''
				display: block
				position: absolute
				width: 15px
				height: 15px
				top: 20px
				right: $menu-toggleicon-right
				bottom: $menu-toggleicon-bottom
				left: $menu-toggleicon-left
				background-image: url(../assets/icons/icon_down_b.svg)
				background-size: 100%

		li:hover span.toggle:before
			background-image: url(../assets/icons/icon_down_b.svg)

		li .toggle-icon.open,
		li span.toggle.open:before
			background-image: url(../assets/icons/icon_up_b.svg)

	ul.second-level,
	ul.third-level
		margin: 0
		padding: 0
		overflow: hidden
		max-height: 0
		position: relative
		// background: $menu-sec-bg
		transition: max-height .4s ease-in-out
		label 
			text-transform: none
	ul.second-level.open,
	ul.third-level.open
		max-height: 300px


@media (min-width: $grid-breakpoint-md)
	// .filters-publicaciones
	// 	position: relative
	.productsList
		.productsList__item
			.inner-item
				flex-flow: row
			
			
			.thumb-wrapper
				width: 15%
				height: 100%
				margin: 0 0 1rem 0
				padding: 0
				background-color: inherit
				position: relative

				.thumb
					height: 100%
					display: flex
					align-items: center
					justify-content: center

			.content
				width: 85%
				height: auto
				margin: 0
				padding: 0 1rem
				display: flex
				flex-wrap: wrap
				height: 100%
				.text-wrapper
					.title
						margin: 0 0 .3rem 0
						text-align: left

						a
							font-size: $h3-font-size-max
							font-family: $h3-font-family
							text-decoration: none
							color: $h3-color
					.date
						font-size: 14px
// END PUBLICACIONES


// EQUIPO 

.teamsList
	.teamsList__item
		margin: 0 0 3rem 0
		padding-bottom: 1rem
		// border-bottom: 2px solid #F0F0F0
		.inner-item
			display: flex
			align-items: stretch
			height: 100%
			position: relative
			flex-flow: column
			background-color: inherit

		.thumb-wrapper
			width: auto
			height: auto
			margin: 0 0 1rem 0
			padding: 0
			background-color: inherit
			position: relative			
			justify-content: center

			.thumb
				height: auto

		.content
			width: 100%
			height: 100%
			margin: 0
			padding: 0
			display: flex
			flex-wrap: wrap
			height: 100%

			.text-wrapper
				width: 100%

				.title
					margin: 0 0 .3rem 0
					text-align: left

					span
						font-size: $h3-font-size
						font-family: $h3-font-family
						text-decoration: none
						color: $h3-color

						&:hover
							text-decoration: none

				.text
					font-size: 1rem
					font-family: $font-family
					text-align: left
					color: $color-text
					margin: 0
				.text_investigadores
					color: $color-primary

				// .text_investigadores2
				// 	color: #FF8669
				// 	a
				// 		color: #FF8669 

			.button-wrapper
				width: 100%
				align-self: flex-end
				text-align: left
	
@media (min-width: $grid-breakpoint-md)

	.team-header
		position: relative
		&:before
			content: ""
			width: 25%
			height: 45%
			position: absolute
			display: block
			bottom: 0 
			left: inherit
			right: 0
			background-color: #ffffff
			z-index: 1
		.bottomBR
			position: relative
			&:before
				content: none
				display: block
				position: absolute
				top: inherit
				left: inherit
				right: 0
				bottom: 0
				background-image: url('/images/triangulo-bottom-left.svg')
				background-size: cover
				background-repeat: no-repeat
				height: 150px
				width: 150px
				z-index: 1
		.researchTitle
			position: absolute
			top: inherit
			bottom: 75px
			left: inherit
			right: 0

	.teamsList
		.teamsList__item:nth-child(2)
			.inner-item
				&:before
					content: ""
					display: block
					position: absolute
					top: inherit
					bottom: 0
					left: inherit
					right: 0
					height: 80%
					width: 2px
					background-color: #F0F0F0
				&:after
					content: ""
					display: block
					position: absolute
					top: inherit
					bottom: 0
					left: 0
					height: 80%
					width: 2px
					background-color: #F0F0F0
		.teamsList__item:nth-child(4)
			.inner-item
				border-top: 2px solid #F0F0F0
				border-bottom: 2px solid #F0F0F0
		.teamsList__item:nth-child(5)
			.inner-item
				border: 2px solid #F0F0F0
		.teamsList__item:nth-child(6)
			.inner-item
				border-top: 2px solid #F0F0F0
				border-bottom: 2px solid #F0F0F0
		.teamsList__item:nth-child(8)
			.inner-item
				border-right: 2px solid #F0F0F0
				border-left: 2px solid #F0F0F0
		.teamsList__item
			margin: 0 0 0rem 0
			padding: 0
			.inner-item
				display: flex
				align-items: stretch
				height: 100%
				position: relative
				flex-flow: column
				background-color: inherit

			.thumb-wrapper
				width: auto
				height: 150px
				margin: 0 0 1rem 0
				padding: 0
				background-color: inherit
				position: relative
				display: flex
				align-items: center
				.thumb
					height: auto
					img 
						// max-height: 100px
						max-width: 250px
			.content
				width: 100%
				height: 100%
				margin: 0
				padding: 0
				display: flex
				flex-wrap: wrap
				height: 100%

				.text-wrapper
					width: 100%

					.title
						margin: 0 0 .3rem 0
						text-align: left

						span
							font-size: 22px
							font-family: $h3-font-family
							text-decoration: none
							color: $h3-color

							&:hover
								text-decoration: none

					.text
						font-size: 1rem
						font-family: $font-family
						text-align: left
						color: $color-text
						margin: 0

				.button-wrapper
					width: 100%
					align-self: flex-end
					text-align: left

@media (min-width: $grid-breakpoint-lg)
	.team-header
		position: relative
		.researchTitle
			position: absolute
			top: inherit
			bottom: 50px
			left: inherit
			right: 0
// END EQUIPO 

// METODOLOGIA

.metodologyList
	a
		text-decoration: none
		.inner-item
			transform: scale(1)
			transition: transform .5s ease-in-out
			&:hover 
				transform: scale(1.2)
	
// END METODOLOGIA


// RECURSOS

.recursos-body
	.accede
		text-decoration: none
		background-color: $color-success
		color: #FFF
		transform: scale(1)
		transition: transform .5s ease-in-out
		&:hover 
			transform: scale(1.2)
	.bottomLine
		position: relative
		&:before
			content: ""
			position: absolute
			top: inherit
			bottom: -10px
			left: 50%
			transform: translateX(-50%)
			width: 50%
			height: 2px
			background-color: #000000
	.contactos
		font-family: 'hindsiliguri-medium'
		a 
			font-family: 'hindsiliguri-medium'
			color: $color-primary
			font-size: 1.2rem
			text-decoration: none


// END RECURSOS

.contacto-page
	.btn 
		font-family: $font-family
		font-weight: normal
//-------------------------------------------------------------

// Home

	
.empresa-home
	position: relative
	padding-top: 0
	overflow-x: hidden
	.blueTop
		padding-top: 5rem
		&:before
			content: ""
			display: block
			position: absolute
			top: 0 
			left: 0
			background-image: url('/images/barra-triangulo.svg')
			background-size: cover
			background-repeat: no-repeat
			height: 125px
			width: 131%
	.sectionsList
		.sectionsList__item
			margin: 0 0 1rem 0
	
			.inner-item
				display: flex
				align-items: stretch
				height: 100%
				position: relative
				flex-flow: column
				background-color: inherit
	
			.thumb-wrapper
				width: auto
				height: auto
				margin: 0 0 0rem 0
				padding: 0
				background-color: inherit
				position: relative
	
				.thumb
					height: auto
	
			.content
				width: 100%
				height: 100%
				margin: 0
				padding: 0
				display: flex
				flex-wrap: wrap
				height: 100%
	
				.text-wrapper
					width: 100%
	
					.title
						margin: 0 0 .3rem 0
						text-align: left
	
						a
							font-size: $h3-font-size
							font-family: $h3-font-family
							text-decoration: none
							color: $h3-color
	
							&:hover
								text-decoration: none
	
					.text
						font-size: 1rem
						font-family: $font-family
						text-align: left
						color: $color-text
						margin: 0
	
				.button-wrapper
					width: 100%
					align-self: flex-end
					text-align: left
					.btn 
						text-transform: uppercase
.helpList
	.inner-item
		transform: scale(1)
		transition: transform .5s ease-in-out
		&:hover 
			transform: scale(1.2)
@media (min-width: $grid-breakpoint-lg)

	.empresa-home
		position: relative
		padding-top: 0
		overflow-x: hidden
		.blueTop
			padding-top: 5rem
			&:before
				content: ""
				display: block
				position: absolute
				top: 0 
				left: -125px
				background-image: url('/images/barra-triangulo.svg')
				background-size: cover
				background-repeat: no-repeat
				height: 125px
				width: 131%

.needHelp
	.hopeBg
		background-image: url('/images/hopeBg.jpg')
		background-size: cover
		background-repeat: no-repeat
		background-position: center
		color: #FFF
		position: relative
		&:before
			content: ""
			display: block
			position: absolute
			top: 0 
			left: 0
			width: 100%
			height: 100%
			background-color: rgba(48, 89, 201, 0.2)
			z-index: 0
		p
			font-size: 1.375rem
			a
				color: #FFF
				font-size: 1.375rem
				text-decoration: none
		
		h2 
			color: #FFF
			font-family: $font-family

.newsList
	.newsList__item
		margin: 0 0 1rem 0

		.inner-item
			display: flex
			align-items: stretch
			height: 100%
			position: relative
			flex-flow: column
			background-color: #FFF

		.thumb-wrapper
			width: auto
			height: auto
			margin: 0 0 1rem 0
			padding: 0
			background-color: inherit
			position: relative

			.thumb
				height: auto

		.content
			width: 100%
			height: 100%
			margin: 0
			padding: 0 30px 0px 30px
			display: flex
			flex-wrap: wrap
			height: 100%

			.text-wrapper
				width: 100%

				.title
					margin: 0 0 1rem 0
					text-align: left

					a
						font-size: $font-size-max
						font-family: $h3-font-family
						text-decoration: none
						color: $h3-color

						&:hover
							text-decoration: none

				.text
					font-size: 1rem
					font-family: 15px
					text-align: left
					color: $color-text
					margin: 0 0 25px 0
			.date
				padding: 25px 0
				border-top: 2px solid #F0F0F0
				width: 100%
				align-self: flex-end
				text-align: left
				color: #AAAAAA
				font-family: $link-font-family

//-------------------------------------------------------------
.carousel
	.slick-track
		display: flex
		align-items: center
	.slick-list
		width: 100%

// RESPONSIVE
//=============================================================

@media (min-width: $grid-breakpoint-sm)
	//
@media (min-width: $grid-breakpoint-md)
	//
@media (min-width: $grid-breakpoint-lg)
	//
	
