// BREADCRUMBS
// =====================================================================

@if $breadcrumbsActive == true

	.breadcrumb
		margin: $breadcrumb-margin
		padding: $breadcrumb-pading
		background: $breadcrumb-bg
		border: $breadcrumb-border
		border-radius: $breadcrumb-border-radius
		list-style: none

	.breadcrumb-item
		float: left
		font-family: $breadcrumb-item-font-family
		font-size: $breadcrumb-item-font-size
		margin: $breadcrumb-item-margin
		padding: $breadcrumb-item-padding
		color: $breadcrumb-item-color
		text-decoration: $breadcrumb-item-text-decoration

		&:before
			display: none
			background: none !important

		&:hover
			color: $breadcrumb-item-color-hover
			text-decoration: $breadcrumb-item-text-decoration-hover

		&.active
			color: $breadcrumb-item-color-active
			text-decoration: none

			&:first-child
				margin-left: 0

		+ .breadcrumb-item
			&::before
				display: inline-block
				padding: $breadcrumb-separator-padding
				color: $breadcrumb-separator-color
				content: $breadcrumb-separator

			&:hover::before
				text-decoration: underline
				text-decoration: none

		span.breadcrumb-item
			text-decoration: none
			color: $breadcrumb-item-color

			&:hover
				color: $breadcrumb-item-color-hover