// COOKIES
// =====================================================================

.cookies
	position: fixed
	top: inherit
	left: 0
	bottom: 0
	max-width: 100%
	z-index: 999999
	display: flex
	justify-content: center
	align-items: center
	background: $cookies-bg
	color: $cookies-color
	margin: 0 0.5rem 0.5rem 0.5rem
	border-radius: 5px

	.cookies-msg .cookies-content
		flex-wrap: wrap
		position: relative
		padding: 0.75rem
		display: flex
		align-items: center
		text-align: left

		a
			color: $cookies-link-color

		p
			font-size: $cookies-font-size
			line-height: 1.4rem
			margin-bottom: 9px
			margin-right: 0
			text-align: center

		.btn-cookies
			display: block
			margin: 0 auto
			cursor: pointer
			color: $cookies-btn-color
			border-color: $cookies-btn-border-color

			&:hover
				color: $cookies-btn-color-hover
				background: $cookies-btn-bg-hover

@media only screen and (min-width: $grid-breakpoint-md)
	.cookies .cookies-msg .cookies-content
		flex-wrap: inherit

		p
			margin-bottom: 0
			margin-right: 20px
			text-align: left
	
