// PHONE BUTTON / BOTON TELEFONO
// =====================================================================

@if $phoneBtnActive == true

	.phoneButton
		padding: $phone-btn-padding
		position: fixed
		top: $phone-btn-top
		right: $phone-btn-right
		bottom: $phone-btn-bottom
		left: $phone-btn-left
		width: $phone-btn-width
		height: $phone-btn-height
		background: $phone-btn-bg
		border: $phone-btn-border
		border-radius: $phone-btn-border-radius
		display: flex
		justify-content: center
		align-items: center
		z-index: 1000
		span
			margin: 0
			padding: 0
			width: 90%
			height: 90%

			&:before
				margin: 0
				padding: 0
				width: 100%
				height: 100%
