// SEARCH HEADER
// =====================================================================

@if $searchActive == true

	.search
		position: relative
		width: 100%
		height: $search-height
		padding: $search-padding
		// background: $search-bg
		transition: top .3s ease-in-out

		form
			display: flex
			position: relative
			justify-content: space-between
			align-items: stretch

			input[type="text"]
				background-image: none
				border: $search-input-border
				border-radius: $search-input-border-radius
				background-color: $search-input-bg
				width: $search-input-width
				height: auto
				padding: $search-input-padding
				font-size: $search-input-font-size
				font-family: $search-input-font-family
				color: $search-input-color

			input[type="submit"]
				opacity: 1
				cursor: pointer
				width: $search-btn-width
				height: auto
				background-color: $search-btn-bg
				font-size: $search-btn-font-size
				font-family: $search-btn-font-family
				color: $search-btn-color
				border-radius: $search-btn-border-radius
				position: relative
				right: inherit
				background-image: url(../assets/icons/#{$search-icon-max}.svg)
				background-repeat: no-repeat
				background-position: center

		&.open
			top: 0

	@media (min-width: $breakpoint-search)
		.search
			position: relative
			height: $search-height-max
			padding: $search-padding-max
			background: $search-bg-max
			width: auto
			z-index: 9

			form
				display: inline-flex
				position: relative

				input[type="text"]
					width: $search-input-width-max
					background-position: $search-input-bg-position-max
					border: $search-input-border-max
					border-radius: $search-input-border-radius-max
					background-size: $search-input-bg-size-max
					background-color: $search-input-bg-max
					width: $search-input-width-max
					height: $search-input-height-max
					padding: $search-input-padding-max
					font-size: $search-input-font-size-max
					font-family: $search-input-font-family-max
					color: $search-input-color-max

				input[type="submit"]
					opacity: 0
					cursor: pointer
					width: $search-input-height-max
					height: $search-input-height-max
					position: absolute
					right: 0
					margin: 0
					padding: 0
					background-image: url('../assets/icons/#{$search-icon-max}.svg') 
					background-repeat: no-repeat
					background-position: center

			&.open
				top: $search-top-max

	// SEARCH ICON
	.searchIcon
		position: absolute
		cursor: pointer
		top: $search-icon-top
		right: $search-icon-right
		bottom: $search-icon-bottom
		left: $search-icon-left
		width: $search-icon-width
		height: $search-icon-height

		.searchIcon__icon
			background: url(../assets/icons/#{$search-icon}.svg) no-repeat
			background-size: 100%
			width: $search-icon-width
			height: $search-icon-height
			display: block

	body.open-search header
		top: $search-height

	@media (min-width: $breakpoint-search)
		.searchIcon
			display: none

		body.open-search header
			top: 0


	.autocomplete
		display: none
		float: left
		position: absolute
		top: #{$search-input-height-max + 2px}
		width: 100%
		height: auto
		max-height: 200px
		overflow-x: hidden
		z-index: 999

		ul
			margin: 0

		li
			background: $search-autocomplete-bg
			color: $search-autocomplete-color
			width: 100%
			padding: $search-autocomplete-padding
			margin: $search-autocomplete-margin
			cursor: pointer

			&:hover
				background: $search-autocomplete-hover-bg
				color: $search-autocomplete-hover-color
				
			&:before
				display: none