/* TABLE OF CONTENTS
---------------------------------------------------------
    0. = NORMALIZES
    1. = LAYOUT
    2. = TYPOGRAPHY
    3. = NAV
    4. = FORM
    5. = MODULES	
---------------------------------------------------------
*/
/* NORMALIZES Browers Styles */
* {
	margin:0;padding:0; /* removes defaults from all elements */
} 
ul {
	list-style:none; /* removes list-styles from lists */
}
a {
	text-decoration: none; 
}
table {
	border-collapse:collapse;
}
fieldset,img {
	border: 0; 
}
dl {
	clear:both;
	height:100%;
}
dt,dd {
	float:left;
}


/*---------------------------------------------------------- */
/*  Layout Styles includes display properties,               */
/*						   floats ans positioning,           */ 
/*						   widths and heights,               */
/*						   paddings and margins              */
/*---------------------------------------------------------- */
/* = LAYOUT: TABLE OF CONTENTS
    1. = BODY & PAGE
    2. = HEADER
    3. = CONTENT
    4. = FOOTER
---------------------------------------------------------
*/
/* = BODY & PAGE
---------------------------------------------------------
*/
html{
   min-width:978px;
} 
#wrapper{
	width:100%;
	float:left;
	padding:0;
	margin:0;
}
.container {
	width:978px;
	margin:0 auto;
	position: relative;
	padding:0;
}
/* END BODY & PAGE
---------------------------------------------------------
*/
/* = HEADER
---------------------------------------------------------
*/
#header {
	position:relative;
	width:100%;
	margin:0;
}
.logo { 
	display:table;
	float:left;
	width:200px;
	height:100px;
	margin:0;
}
.logo a{
	width:200px;
	height:100px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.logo a:hover{border:0;}
.logo img{ 
	height: auto;
	width:auto;
	max-width:100%;
	max-height:100%;
}


/* END HEADER
---------------------------------------------------------
*/
/* = CONTENT
---------------------------------------------------------
*/
#content {	
	position:relative;
	float:left;
	width:100%;
}
div.main{
	float:right;
	width:642px;
	padding-bottom:20px;	
}
div.side{
	float:left;
	width:306px;
	padding-bottom:20px;	
}
div.col03{
	float:left;
	width:222px;
	margin:0 15px;
}
div.col04 {
	float:left;
	width:306px;
	margin:0 15px;
}
div.col05 {
	float:left;
	width:390px;
	margin:0 15px;
}
div.col06 {
	float:left;
	width:474px;
	margin:0 15px;
}
div.first {
	margin:0 15px 0 0;
}
div.last {
	margin:0 0 0 15px;
}
/* END CONTENT
---------------------------------------------------------
*/
/* = FOOTER
---------------------------------------------------------
*/
#footer-wrapper{
	width:100%;
	float:left;
}
#footer {
	float:left;
	width:100%;
	min-height:100px;
	padding:0;
}
#footer .main{
	float:left;
	width:642px;
	min-height: inherit;
	padding:10px 0 0 0;
	margin:0 0 20px;	
	clear: none;
}
#footer .side{
	float:right;
	width:306px;
	min-height: inherit;
	padding:10px 0 0 0;
	margin:0 0 20px;
	clear: none;
}
/* END FOOTER
---------------------------------------------------------
*/

/* --------------------------------------------------------------------------- */
/* Common Styles includes background properties, colors and images,	           */
/*						  font families, sizes, line heights, letter spacing,  */
/*						  text decorations and text colors					   */		    
/* --------------------------------------------------------------------------- */
/* = TYPOGRAPHY: TABLE OF CONTENTS
    1. = LINKS
	2. = BODY
    3. = HEADINGS
    4. = TEXT
    5. = LISTS
    6. = TABLES
    7. = HORIZONTAL RULES
---------------------------------------------------------
*/
/* = LINKS
---------------------------------------------------------
*/
a, a:link, a:active{
	color: #ff7700;
	background-color: transparent;
	outline:none;
}
a:visited{
	color: #ff7700;
	background-color: transparent;
}
a:hover{
	color: #ff7700;
	background-color: transparent;
}
a:focus { 
	outline: 0;
}
a, a:link, a:active, a:hover{
	text-decoration: none;
}
/* END LINKS
---------------------------------------------------------
*/
/* = BODY
---------------------------------------------------------
*/

/* OPEN SANS FONT */
@font-face {
    font-family: 'open_sansbold';
    src: url('../type/opensans-bold-webfont.eot');
    src: url('../type/opensans-bold-webfont.svg#open_sansbold') format('svg'),
		 url('../type/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../type/opensans-bold-webfont.woff') format('woff'),
         url('../type/opensans-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'opensans-semibold';
    src: url('../type/opensans-semibold-webfont.eot');
    src: url('../type/opensans-semibold-webfont.svg#open_sanssemibold') format('svg'),
		 url('../type/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../type/opensans-semibold-webfont.woff') format('woff'),
         url('../type/opensans-semibold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansbold_italic';
    src: url('../type/opensans-bolditalic-webfont.eot');
    src: url('../type/opensans-bolditalic-webfont.svg#open_sansbold_italic') format('svg'),
		 url('../type/opensans-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../type/opensans-bolditalic-webfont.woff') format('woff'),
         url('../type/opensans-bolditalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sans_condensedbold';
    src: url('../type/opensans-condbold-webfont.eot');
    src: url('../type/opensans-condbold-webfont.svg#open_sans_condensedbold') format('svg'),
		 url('../type/opensans-condbold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../type/opensans-condbold-webfont.woff') format('woff'),
         url('../type/opensans-condbold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansitalic';
    src: url('../type/opensans-italic-webfont.eot');
    src: url('../type/opensans-italic-webfont.svg#open_sansitalic') format('svg'),
		 url('../type/opensans-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../type/opensans-italic-webfont.woff') format('woff'),
         url('../type/opensans-italic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sanslight';
    src: url('../type/opensans-light-webfont.eot');
    src: url('../type/opensans-light-webfont.svg#open_sanslight') format('svg'),
		 url('../type/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../type/opensans-light-webfont.woff') format('woff'),
         url('../type/opensans-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sanslight_italic';
    src: url('../type/opensans-lightitalic-webfont.eot');
    src: url('../type/opensans-lightitalic-webfont.svg#open_sanslight_italic') format('svg'),
		 url('../type/opensans-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../type/opensans-lightitalic-webfont.woff') format('woff'),
         url('../type/opensans-lightitalic-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansregular';
    src: url('../type/opensans-regular-webfont.eot');
    src: url('../type/opensans-regular-webfont.svg#open_sansregular') format('svg'),
		 url('../type/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../type/opensans-regular-webfont.woff') format('woff'),
         url('../type/opensans-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* END OPEN SANS FONT */

/* ROBOTO FONT */
@font-face {
    font-family: 'robotobold';
    src: url('../type/roboto-bold-webfont.eot');
    src: url('../type/roboto-bold-webfont.svg#robotobold') format('svg'),
         url('../type/roboto-bold-webfont.woff') format('woff'),
         url('../type/roboto-bold-webfont.ttf') format('truetype'),
         url('../type/roboto-bold-webfont.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotolight';
    src: url('../type/roboto-light-webfont.eot');
    src: url('../type/roboto-light-webfont.svg#robotolight') format('svg'),
		url('../type/roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../type/roboto-light-webfont.woff') format('woff'),
         url('../type/roboto-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotoregular';
    src: url('../type/roboto-regular-webfont.eot');
    src: url('../type/roboto-regular-webfont.svg#robotoregular') format('svg'),
		 url('../type/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../type/roboto-regular-webfont.woff') format('woff'),
         url('../type/roboto-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/* END ROBOTO FONT */

body {
	font-size: 62.5%; /* sets the stage for using ems */
	text-align:left;
	font-family: 'open_sansregular', sans-serif ;
	color:#232323;
	background:#DDD;
}
aside, main, div, section, article, nav{}
#wrapper{
	background:#FFF;
}
#header {
	font-size:1.2em;
	color:#666;
}
#header .col03{
	margin-top:4em;
}
#header .col03.first{
	margin-top:1em;
}
#header .col03 ul{
	margin:0;
	padding:0;
}
#header .col03 ul li, #header .col03 p{
	margin:0;
	padding:0;
	line-height:1.5em;
}
#header a, #header a:visited{
	color:#666;
}
#header a:hover{
	color:#ff7700;
}

#content {
	font-size:1.3em;
}
.main {}
.side {}

#footer-wrapper{}
#footer {
	font-size:1.2em;
	color:#5d5b59;
}
#footer .side{
	text-align:right;
}
#footer .main{
	text-align:left;
}

#footer p{
	margin:0;
	padding:0;
}
#footer a, #footer a:visited{
	color:#5d5b59;
}
#footer a:hover{
	color:#232323;
}
/* = HEADINGS
---------------------------------------------------------
*/
h1, h2, h3{
	font-family: 'open_sansregular', sans-serif;
	padding: 0;
    color: #ff7700;
	font-weight:normal;
}
h1{
	font-family: 'open_sanslight', sans-serif;
	font-size: 3em;
	line-height: 1em;
	margin: 0 0 0.5em 0;
}
h2{
	font-size:1.8em;
	line-height: 1em;
	margin: 0 0 0.5em 0;
}
h3{
	font-family: 'open_sansregular', sans-serif;
	font-size: 1.2em;
	line-height: 1em;
	margin: 0 0 0.7em 0;
}
/* END HEADINGS
---------------------------------------------------------
*/
/* = TEXT
---------------------------------------------------------
*/
p{
	margin: 0 0 1.3em;
	padding: 0;
	font-size: 1em;
	line-height: 1.5em;
}
blockquote{
	margin: 20px 40px;
	font-size:1.2em;
	font-weight:normal;
}
strong{
	font-family:'opensans-semibold', sans-serif;
	font-weight:normal;
}
em{
	font-family:'opensans-italic', sans-serif;
}
pre{
	font-family: monospace;
	font-size: 1.0em;
}
code{
    font-family: "courier new", courier, monospace;
    font-size: 1.0em;
    white-space: pre;
}
sup, sub {
	font-size:.6em;
}
/* END TEXT
---------------------------------------------------------
*/
	
/* = LISTS
---------------------------------------------------------
*/
ul{
	margin: 0 0 1.5em;
	padding: 0;
}
ul li{
	margin: 0 0 0.3em;
	padding: 0;
	line-height: 1.5em;
}
/*#content ul{
	padding: 0;
}
#content ul li{
	padding: 0 0 0 17px;
	background:url(../images/icons/bullet01.png) no-repeat 0.3em 0px;
}
#content ul ul{
	margin-top:1em;
}
#content ul li li{
	padding: 0 0 0 17px;
	background:url(../images/icons/bullet01.png) no-repeat 0.3em 0px;
}

#content form ul li{
	background:none;;
}*/
ol{
	font-size: 1.0em;
	line-height: 1.4em;
	margin: 0 0 1.5em 15px;
	padding: 0;
}
ol li{
	margin: 0 0 0.25em 10px;
	padding: 0;
}
dl{
	font-size: 1.0em;
	line-height: 1.4em;
	margin: 0 0 1.5em 0;
	padding: 0;
}
dl dt{
	font-weight: bold;
	margin: 0.25em 0;
	padding: 0;
}
dl dd{
	margin: 0 0 0 30px;
	padding: 0;
}


.icons-actions img{
	cursor:pointer;
	margin-right:1px;
}
.sort-icon{
	vertical-align:middle;
	margin-right:5px;
}

/* END LISTS
---------------------------------------------------------
*/
/* = TABLES
---------------------------------------------------------
*/
table {
	float: left;
	width:100%;
	margin: 0 0 1.5em 0;
	padding: 0;
	font-size: 1.0em;
}
table caption {
	font-weight: bold;
	margin: 0;
	padding: 0 0 1.5em 0;
}
th {
	font-weight: bold;
	text-align: left;
	border-bottom:1px solid #DDD;
	padding-bottom:.3em;
}
td {
	width:*;
	font-size: 1em;
	/*padding:.3em 0;*/
	padding:.3em .3em .6em ;
	border-top:1px dotted #DDD;
}
td.pic-col{
	width:80px;
}
td.pic-col div{
	width:60px;
	height:60px;
	overflow: hidden;
}
td.pic-col img{
	min-width:60px;
	min-height:60px;
}

td.actions-col{
		width:140px !important;
}
td.erase-col{
	width:140px !important;
	text-align:center;
}
td.erase-col input[type="checkbox"]{
	display: inline-block;
}

/* END TABLES
---------------------------------------------------------
*/

/* = DatePicker
-----------------------------------------------------------------------------------------------*/

    .datepick{}
    .ui-datepicker{background: none repeat scroll 0 0 #fff !important;width: 315px !important;margin-top: -1px !important;border-bottom: 2px solid #51a680}
    .ui-datepicker table{width: inherit !important;float: left; margin: 0 !important; text-align: center;}
    .ui-datepicker table tr td, .ui-datepicker table tr th{padding:9px;}
    .ui-datepicker table tr th{color:#7f7f7f; border: none !important; font-weight: normal;font-family: "robotoregular";text-align: center;}
    .ui-datepicker table tr td a, .ui-datepicker table tr th a{padding:5px 6px; color:#67c39a !important;}
    .ui-icon-circle-triangle-e{float: right;  position: relative; right:12px;}
    .ui-icon-circle-triangle-w{float: left; position: relative; left:12px;}
    .ui-datepicker-header{background: #FFF !important; padding:14px 5px 20px; font-size: 1.5em;}
    .ui-datepicker-title{text-align: center !important;color:#232323 !important; font-style: normal; font-weight: normal;}
    .ui-datepicker-month{text-align: center; font-family: "robotoregular";}
    .ui-datepicker-year{font-size: 0.8em;text-align: right;}
    .ui-datepicker-unselectable{color: #CCC; font-family: "robotoregular"; font-weight: 300;}

    .ui-state-active{font-family: "robotoregular"; font-weight: 700; color: #000; font-size: 1.2em;}


/* ---------------------------------------------------------- */
/* Navigation Styles										  */
/* ---------------------------------------------------------- */
/* = NAV: TABLE OF CONTENTS
    1. = MAIN NAV
    2. = SECONDARY NAV
	3. = LANGUAGE NAV
---------------------------------------------------------
*/
/* = MAIN NAV
---------------------------------------------------------
*/
#nav {
	float:left;
	width:100%;
	margin:1em 0 2em;
	border-top:1px solid #DDD;
	padding:.3em 0 0 0;
	color:#232323;
}
.icon-menu{
	display:none;
}
#nav > ul {
	width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
#nav li {
	position: relative;
    width: 18%;
    font-family: 'open_sanslight', sans-serif;
    font-size: 1em;
    padding: 0 1%;
}
#nav li.sameheight_nav {margin:0 0 1.5em;}

#nav li strong{
	float:left;
	width:100%;
	padding:.3em 0 .3em 0;	
}
#nav li li{
	float:left;
	clear:left;
	width:100%;
	padding:0;
	margin:0;
}
#nav li a {
	float:left;
	width:95%;
	color:#000;
	padding:.3em 0;
	border-top:1px dotted #DDD;
}
#nav li a:hover {
	background: url(../images/nav/bgNav.gif) repeat-x; 
	text-decoration:none;
	color:#ff7700;
}
/* END MAIN NAV
---------------------------------------------------------
*/

/* = LANGUAGE NAV
---------------------------------------------------------
*/
#language-nav{
	float:left;
	width:100%;
	text-align:right;
	color:#232323;
}
#language-nav ul{
	margin:0;
	padding:0;	
	display:inline;
}
#header #language-nav ul li{
	margin:0;
	display:inline;
	padding:0 0 0 .3em;
}
#language-nav a, #language-nav a:visited{
	color:#666;
}
#language-nav a.current{
	color:#232323;
}
#language-nav a:hover{
	color:#ff7700
}
/* = END LANGUAGE NAV
---------------------------------------------------------
*/


/*--------------------------------------------------------- */
/*  Form Styles						    */
/*--------------------------------------------------------- */
/* = FORMS: TABLE OF CONTENTS
    1. = PARENT ELEMENTS
    2. = LABELS
    3. = INPUTS
	4. = SPECIFIC FORMS
---------------------------------------------------------
*/
/* = PARENT ELEMENTS
---------------------------------------------------------
*/
form {
	float:left;
	width:100%;
	margin: 0 0 2em;
	padding: 0;
}
form div, form p {
	margin: 0;
	padding: 0;
}
form ul{
	float:left;
	width:100%;
	margin: 0;
	padding: 0;
}
/*form li{
	float:left;
	width:46%;
	margin: 0 2% 1.3em;
	padding: 0;
	background: none;
	list-style: none !important;
}
form li{
	float:left;
	width:96%;
	margin: 0 2% 1.3em;
	padding: 0;
	background: none;
	list-style: none !important;
}
form li.full{
	float:left;
	width:96%;
}*/
form li{
	float:left;
	width:100%;
	margin: 0 0 1.3em;
	padding: 0;
	background: none;
	list-style: none !important;
}

form li.text{}
form li.notiny{}
	form li.notiny textarea{}

form li.file{
	background: #F5F5F5;
	width:98%;
	padding:.3em 1% .6em 1%;	
}
form li.file{
	background: #F5F5F5;
	width:98%;
	padding:.3em 1% .6em 1%;	
}
form li.file ul li input.form_submit{
	margin:0;
	float:right;
	color:#666;
}
form li.file img{
	margin:0.6em 0;	
}
form li.file.attached ul li{
	/*height:53px;
	line-height:35px;*/
	margin:0;
	padding:0;
}
form li.file.attached input{
	margin:0 0 0.6em;
}
form li.file.attached span{float:left;clear:left;white-space: nowrap;}
form li.file.attached img.pdf2jpg{float:left;clear:left;height:60px;margin:1em 0;}

form li.checkbox {}
form li.checkbox input[type="checkbox"]{
	line-height:1.6;
	margin:.3em 10px 0 0;
	float:left;
}
form li.checkbox ul{
	margin:.3em 0;
}
form li.checkbox ul li{
	line-height:1.6;
	margin:0;
}
form li.checkbox ul li input[type="checkbox"]{
	line-height:1.6;
	margin:.3em 10px 0 0;
	float:left;
}

form li.checkboxm{}

form li.select{}
form li.selectm{}
form li.selectm table{
	height:150px;
}
form li.selectm table td{
	padding:3px;
	border:0;
	width:47%;
}
form li.selectm table .middletd{
	width:6%;
}
form li.selectm table .middletd input{
	margin:.5em 0;
}
form li.selectm table input[type="button"]{
	cursor:pointer;
}
form li.selectm table td select{
	width:100%;
	height:150px;
	font-size:12px;
	background: #FFF;
	border:1px solid #DDD;
	color:#666;
}
form li.selectm table td option{
	color:#666;
	font-size:12px;
	text-align:left; 
	width:96%;
	padding:5px 2% !important;
}
form li.location{}

.btns-footer{
	float:left;
	width:100%;
	margin:2em 0 0 0;
	border-top:1px dotted #DDD;
	padding-top:1em;
}
.btns-footer span{
	float:left;
	width:100%;
	margin:0 0 1em;
}

/* END PARENT ELEMENTS
---------------------------------------------------------
*/


label, form li span{
	float: left;
	width:100%;
	clear: left;
	text-align: left;
    margin: 0;
	padding: 0;
	font-size:.8em;
	font-weight: normal;
	text-transform:uppercase;	
}
input, select, textarea{
	font-family: 'open_sanslight',sans-serif;
	font-family: 'arial',sans-serif;
	font-size: 1.0em;
	display: block;
	float: left;
	width:98%;
	margin: 0;
	padding:.3em 1%;
	border:1px solid #DDD;
	border-radius:3px;
}
select{
	font-family: 'arial',sans-serif;
}

textarea{
    resize: vertical;
}
textarea:not(.mceNoEditor){
	min-height: 75px;
	height:75px;
    resize: vertical;	
}
input{
	vertical-align: middle;
}
input[type="checkbox"]{
	float:none;
	clear: none;
	border: none;
	width: 1em;
	height: auto;
	margin: 0 .5em 0 0;
    padding: 0;
	cursor:pointer;
}
input[type="radio"]{
	float:none;
	clear: none;
	border: none;
	width: 1em;
	height: auto;
	margin: 0 .5em 0 0;
    padding: 0;
	cursor:pointer;
}
input[type="file"]{
	cursor:pointer;
	border:0;
	padding:0;
}

input[type="submit"]{
	cursor:pointer;
}
input[type="button"]{
	cursor:pointer;
}
.checkradiocontiner label{
	float: none;
	width: inherit;
	clear: none;
	text-align: left;
    margin: 0;
	padding: 0;
	font-size:1em;
	font-weight: normal;
	text-transform: none;	
	background:red;
	white-space:nowrap;
	cursor:pointer;
}
.checkradiocontiner label span{
	float: left;
	clear: none;
	white-space:nowrap;
	background:red;
}

input.btn, input#btn_insert, input#btn_update{	
	float:left;
	width:80px;
	height:35px;
	margin:1em 0;	
	padding:.3em;
	border:0;
	background:#232323 ;
	font-size:.8em;
	font-weight:bold;
	text-align:center;
	color:#FFF;
	text-transform:uppercase;
	border-radius: 3px; 
	cursor:pointer;
}
input.btn:hover{	
	background:#000;
}

input.form_submit, input.form_input{
	padding:5px;
	font-size:.9em;
	color:#666;	
	background:#EEE;
	border:1px solid #CCC;
	border-radius: 3px;
	cursor:pointer;
	text-decoration:none;
	width: auto;
	width:80px;
}
input.form_submit:hover, input.form_input:hover{
	background:#E5E5E5;
}

form li.location input{width:120px;cursor:pointer;}

form #errors, form #okform{
	float:left;
	clear:left;
	width:100%;
}


/* --------------------------------------------------------------- */
/* Modules Styles includes latest news, news, faqs, links, content */
/*						   services, gallery, sitemap, text legal  */
/* --------------------------------------------------------------- */


/* = SECTION HEADER
---------------------------------------------------------
*/
.section-header{
	float:left;
	width:100%;
	margin:0 0 2em;
}
/* = END SECTION HEADER
---------------------------------------------------------
*/
/* = SEARCH
---------------------------------------------------------
*/
input#search{
	float:left;
	width:50%;
	margin:0 10px .5em 0;	
}

input.busca{	
	float:left;
	width:80px;
	margin:0 0 .5em;	
}
/* = END SEARCH
---------------------------------------------------------
*/
/* MESNAJES AJAX
---------------------------------------------------------
*/
.mensajes{
	width:90%;
	float:left;
	padding:1em 5%;
	margin:1em 0;
	border-radius: 3px;
	background: #f4f5c7;
	text-align:center;
	color:#b4a992;
	display:none;

	background: #4cab4e;
	color:#FFF;

	padding: 1em 1%;
    width: 98%;	
}
/* ENSMESNAJES AJAX
---------------------------------------------------------
*/

/* = LANG TABS (PESTANYES)
---------------------------------------------------------
*/
#idiomas{
	float:left;
	width:100%;
	border-bottom:1px solid #DDD;
	margin-bottom:0;
}
#content #idiomas ul{
	float:left;
	width:100%;
	margin:0;
	padding:0;
	list-style: none;
	border-bottom:1px solid #DDD;
}
#content #idiomas li{
	float:left;
	width:10%;
	margin:0;
	padding:0;
}
#content #idiomas li a{
	float:left;
	width:96%;
	margin:0 0 -1px;
	padding:.6em 2%;
	text-align: center;
	text-transform: uppercase;
	text-transform: uppercase;
	color:#666;
	border:1px solid #DDD;
	cursor:pointer;
	background:#EEE;
}
#content #idiomas li.actiu a{
	background:#FFF;
	border-bottom:1px solid #FFF;
}
/* = END LANG TABS
---------------------------------------------------------
*/

/* = MAP
---------------------------------------------------------
*/

#map{
	float:left;
	width:100%;
	height:300px;
	display:none;
}
#map_canvas{
	float:left;
	width:100%;
	height:300px;
	margin:1em 0;
}
/* = END MAP
---------------------------------------------------------
*/

/* BUTONS 
---------------------------------------------------------
*/

.editar, .propiedades, .todos, .ocultar, .anadir, .guardar, .eliminar,
.editar:visited, .propiedades:visited, .todos:visited, .ocultar:visited, .anadir:visited, .guardar:visited, .eliminar:visited {
	padding:5px;
	font-size:.9em;
	color:#666;	
	background:#EEE;
	border:1px solid #CCC;
	border-radius: 3px;
	cursor:pointer;
	text-decoration:none;
}
.editar:hover, .propiedades:hover, .todos:hover, .ocultar:hover, .anadir:hover, .guardar:hover, .eliminar:hover{
	background-color:#E5E5E5;
	text-decoration:none;
}
.editar{
	padding-left:20px;
	background: #EEE url(images/icons/btn-edit16.png) no-repeat 5px 5px;
}
.propiedades{}
.todos{}
.ocultar{}
.anadir{
	padding-left:20px;
	background: #EEE url(images/icons/btn-add16.png) no-repeat 5px 5px;
}
.guardar{}

/* END BUTONS 
---------------------------------------------------------
*/


/* = FILE UPLOADER
---------------------------------------------------------
*/
.plupload_container{
	float:left;
	width:100%;
	padding:0 0 .5em!important;
	border:0;
}
.plupload_header{}

.plupload_content{}
.plupload_filelist_header .plupload_file_name,
.plupload_filelist_header .plupload_file_action,
.plupload_filelist_header .plupload_file_status,
.plupload_filelist_header .plupload_file_size{
	line-height:20px;
	font-family: 'open_sansregular', sans-serif;
	text-transform: uppercase;
	font-size:10px;
	padding:0;
	margin:0!important;
}

.plupload_filelist_header .plupload_clearer{}

.plupload_filelist_header .plupload_file_name span,
.plupload_filelist_header .plupload_file_status span, 
.plupload_filelist_header .plupload_file_size span,
.plupload_filelist_header .plupload_file_action span {
	font-size:10px;
}
.plupload_filelist_header .plupload_file_status span{text-align: right;} 

ul.plupload_filelist{
	float:left;
	width:100%;
}
ul.plupload_filelist li{
	float:left;
	width:100%;
	padding:0;
	margin:0;
	line-height:25px;
}
ul.plupload_filelist li.plupload_delete div.plupload_file_name {
	padding-left:10px;
}
ul.plupload_filelist li.plupload_delete div.plupload_file_action a{
	margin-top:.3em!important;
}
ul.plupload_filelist li.plupload_delete div.plupload_file_status{}
ul.plupload_filelist li.plupload_delete div.plupload_clearer{}


.plupload_filelist_footer{
	border:0;
	background: #FFF!important;
	padding:0 !important;
	float:left;
	width:100%;
	min-height:40px;
}
.plupload_filelist_footer a, .plupload_filelist_footerr a:visited {
	float:left;
	padding:5px 10px;
	margin:.6em .6em .6em 0;
	font-family: 'open_sansregular', sans-serif ;
	color:#666;
	background: #EEE;
}
.plupload_filelist_footer a:hover{
	color:#666;
	background: #E5E5E5!important;
}
#sortme{
	padding:0;
}
.sortitemx{
	list-style-type:none;
	float:left;
	width:98%;
	padding:.6em 1%; 
	background-color:#EEE; 
	border-radius:3px; 
	margin-left:0;
	margin-bottom:5px; 
}
.sortitemx:hover{
	background-color:#F5F5F5; 
}
.sortitemx .mensajes{
	width:35%;
	clear: none;
	margin:0 10px;
	padding:0;
	height:30px;
	line-height: 30px;
}
.sortitemx input[type="button"]{
	width:80px;
}
.sortitemx input[type="text"]{
	width:35%; 
	margin:0 10px 0 0;
}

.sortitemx .text{
	float:left;
	margin-left:5px;
	color:#666;
}

.sortitemx a{
	color:#333;
	float:left;
	width:100%;
	text-decoration:none;
	margin:0 0 .3em;
}
.sortitemx a.eliminar{
	color:#333;
	float:right;
	width:80px;
	text-decoration:none;
	text-align:center;
	margin:0;
}
.handle{
	cursor: pointer;
}
.fotos_subidas{
	height:60px; 
	float:left; 
	margin:5px 5px 0 5px;
}
.eliminar{
	float:right; 
	margin:5px;
}

.move_icon{
	float:left; 
	width: 10%;
}

.move_content{
	float:left;
	width: 90%;
}

/* = END FILE UPLOADER
---------------------------------------------------------
*/

/* PARA LAS CAJAS DE IDIOMAS */
.idiomaActive{
	float:left;
	width:96%;
	padding:1.3em 2% 1.3em 2%;
	margin:0 0 2em;
	display:block; 
	border:1px solid #DDD;
	border-top:0; 
}
.idiomaInactive{
	display:none; 
}



/*TEXTOS.PHP*/
#keyerrors{
	display:none;
	width:300px;
	height:20px;
	border:1px solid red;
}

ul.importexport-menu{color:#666;font-family: "open_sanslight",sans-serif;font-size: 1em;}
ul.importexport-menu a, ul.importexport-menu a:visited{color:#666;cursor: pointer;}
ul.importexport-menu a:hover{color: #ff7700;}

ul#keys_menu{margin:0;}
#keys_menu li{
	display:inline;
	padding-right:10px;
}

.txt_key{
	vertical-align:top;
}
.txt_key a{
	color:#000;
	font-weight:bold;
}
.txt_key input{
	float:left;
	display:inline;
	margin-top:5px;
}
.txt_key span{
	line-height:25px;
	margin-top:10px;
}
.mceNoEditor{
	min-height: 75px;
	height:75px;
    resize: vertical;
}
.textarea_small{
	height:20px;
	min-height:20px;
}
#fake{
	width:100%; 
	height:auto; 
	display:block; 
	position:relative; 
	float:left;
	clear:both;
	margin:0 0 .5em;
}
#fake input[type="file"]{
	float:left;
	clear:none;
	width:300px;
	border:1px solid #EEE;
	background: #FFF;
	padding:.3em;
	margin:0 .3em 0 0;
}
#fake input[type="submit"] {
	float:left;
	clear:none;
	width:150px;
	padding:.5em 0;
}
/*END TEXTOS.PHP*/


/* NUEVO REGISTRO */
.nuevoRegistro {
    background: none repeat scroll 0 0 #f5f5f5;
    border: 1px solid #ddd;
    bottom: 0;
    position: fixed;
    width: 978px;
    z-index: 10000;
}
.nuevoRegistro td {
    /*width:320px;*/
    border:0;
    padding: 10px 20px 20px 20px;
    border-left:1px solid #DDD;
    vertical-align: top;
}
.nuevoRegistro td:first-child {
    border-left:0;
}
.nuevoRegistro td span, .nuevoRegistro td b{
    float:left;
    width:100%;
}
.nuevoRegistro td input#newkey{font-size:1.3em;margin:18px 0;}
.nuevoRegistro td textarea{
    width:380px;
}
.nuevoRegistro #keyerrors{
	float:left;
	clear:left;
	display:none;
	padding: 1em 10%;
    width: 98%;	
	padding: 1em 10px;
    width:240px;
	margin:1em 0;
	border-radius: 3px;
	text-align:center;
	background: #e13c3c;
	color:#FFF;
}
.addkey{
	width: 100%;
	font-size: 1.2em;
	margin: 20px;
	padding: 10px;
	border-bottom:2px solid #DDD;
}
.addkey:hover{
	 color:#FFF;
	 background: #ff7700;
	 border:1px solid #ff4200;
	 border-bottom:2px solid #cc6306;
}
a.delete{
	display:inline-block;
	background-color:#f0f0f0;
	border:1px solid #DDD;
	border-radius:3px;
	font-weight: normal!important;
	padding:2px 5px;
	margin:0 5px; 
}


/* Menú claves textos*/
ul#keys_menu{float:left;width:100%;box-sizing:border-box}
ul#keys_menu li{float:none;display:inline-block;white-space:nowrap;padding:0 1em 0 0;box-sizing:border-box}
ul#keys_menu li:first-child{width:100%}
ul#keys_menu li a{margin:0}
}


/*--------------------------------------------------------- */
/*  Responsive Styles */
/*--------------------------------------------------------- */
/*	01. RESPONSIVE TABLETS
	02. RESPONSIVE SMARTPHONES
/*--------------------------------------------------------- */

/* = 01. Responsive Ipads ---------------------------------------------------------*/

@media only screen and (max-width : 1000px){
	html{
	   min-width: inherit;
	} 
	.container, div.col03, div.col04, div.col05, div.col06{
		width:96%; position:relative; margin: 0; padding:0 2%;float:left;
	}
	
	.main{width:60%;}
	.side{width:40%;}
	
	/*NAV*/
	 #nav{
			left:0;
			width:70%;
			float:left!important;
			font-size:.9em;
	 }
	.slogan{
		width:60%;
		top:40px;
		font-size:2em;
		margin:1em 0;
	}
	.social{
		bottom:0;
		margin:1em 0 2em ;
	}

 }

/* = 02. Responsive smartphones ---------------------------------------------------------*/

@media only screen and (min-width : 0px) and (max-width : 800px){ 

	/*General containers*/
	.container, div.col03, div.col04, div.col05, div.col06{
		width:92%; position:relative; margin: 0; padding:0 4%;float:left;
	}

	#content p, #content ul{
		font-size:1.2em !important;
	}
	 
	.main, .side{width:100%;float:left;text-align:left;margin:0;}
	#footer .main, #footer .side{width:50%!important;float:left;}
	#header{float:left; height: inherit!important;}
	 
	 /*logo HD*/
		.logo{
			position:relative;
			float:left;
			width:100%;
			text-align:center;
		}
		.logo img{width: inherit;}
	 
	 /*LANG*/		
	 #language-nav{right:0px;z-index:10;border:height:32px;line-height:32px;color:#FFF;margin-right:3%;}
	 #language-nav a{color:#CCC !important;}
	 
	/*NAV*/
	 #nav{
		position:relative;
		top:0;
		left:0;
		width:100%;
		float:left;
		background:#232323;
	 }
	
	.icon-menu{
		display:block;
		width:32px;
		height:32px;
		background:#232323 url(../images/icons/menu32.png) no-repeat 50% 50%;
		cursor:pointer;
	}
	#nav ul{
		display:none;
		padding:0;
		margin:0;
		width:100%;
		float:left;
	}
	
	 #nav li{
	 		position:relative;
			top:0;
			left:0;
			float:left;
			width:100%;
			padding:0;
			margin:0;
	 }
	 #nav a{
	 		position:relative;
			top:0;
			left:0;
			float:left;
			width:96%;
			padding:0 2%!important;
			background:#2b2b2b!important;
			color:#CCC !important;
	 }
	 #nav a:hover{
			background:#232323!important;
	 }
	 /*LANG*/		
	 #secondary-nav{}

	
	/*ARTICLE*/
	table, article, iframe{width:100%;}
	
	/*SOCIAL HD*/
	 .social{width:100%;float:left;text-align:center;position:relative;left:0;top:0;}
	 .social ul{float:none; display:inline-table; margin:0;}
	 .social li, social li a{float:none; display:inline;width:32px;height:32px;overflow:hidden;margin:0!important;}
		.social li{margin:0 3px;padding:0 3px!important;}
		
		
	.slogan{
		position:relative;
		left:0;
		top:0;
		float:left;
		width:100%;
		font-size:2em;
	}
	.map{
		height:300px;
	}
	
}



#miForm	input {width: 150px;}
		


/*--------------------------------------------------------- */
/*  END Responsive Styles */
/*--------------------------------------------------------- */


*:focus { 
	outline: 0;
}



