// DATATABLES
// =====================================================================
	
@if $datatablesActive == true

	table.dataTable
		background: $table-bg
		border-collapse: separate
		border-spacing: 0
		clear: both
		font-family: $table-font-family
		margin: $table-margin
		max-width: 100%
		width: 100% !important

	table.dataTable thead th,
	table.dataTable tfoot th
		background: $table-head-bg
		border-color: $table-head-border-color
		border-style: $table-head-border-style
		border-width: $table-head-border
		color: $table-head-color
		font-family: $table-head-font-family
		padding: $table-head-padding
		vertical-align: bottom

	table.dataTable thead th:active,
	table.dataTable thead td:active
		outline: none

	table.dataTable thead .sorting,
	table.dataTable thead .sorting_asc,
	table.dataTable thead .sorting_desc,
	table.dataTable thead .sorting_asc_disabled,
	table.dataTable thead .sorting_desc_disabled
		background-position: center right
		background-repeat: no-repeat
		background-size: 45px 15px
		cursor: pointer

	table.dataTable tbody th,
	table.dataTable tbody td
		background: $table-cell-bg
		border-color: $table-cell-border-color
		border-style: $table-cell-border-style
		border-width: $table-cell-border
		color: $table-cell-color
		padding: $table-cell-padding
		vertical-align: top

	table.dataTable thead .sorting
		background-image: url("../assets/icons/icon_arrows_sm.svg")

	table.dataTable thead .sorting_asc
		background-image: url("../assets/icons/icon_arrow_up_sm.svg")

	table.dataTable thead .sorting_desc
		background-image: url("../assets/icons/icon_arrow_down_sm.svg")

	table.dataTable thead .sorting_asc_disabled
		background-image: url("../assets/icons/icon_arrows_disabled_up_sm.svg")

	table.dataTable thead .sorting_desc_disabled
		background-image: url("../assets/icons/icon_arrows_disabled_down_sm.svg")

	table.dataTable tbody tr
		background-color: #ffffff

	table.dataTable tbody tr.selected
		background-color: #B0BED9

	table.dataTable.row-border tbody th, table.dataTable.row-border tbody td,
	table.dataTable.display tbody th, table.dataTable.display tbody td
		border-top: 1px solid #ddd

	table.dataTable.row-border tbody tr:first-child th,
	table.dataTable.row-border tbody tr:first-child td,
	table.dataTable.display tbody tr:first-child th,
	table.dataTable.display tbody tr:first-child td
		border-top: none

	table.dataTable.cell-border tbody th,
	table.dataTable.cell-border tbody td
		border-right: 1px solid #ddd
		border-top: 1px solid #ddd

	table.dataTable.cell-border tbody tr th:first-child,
	table.dataTable.cell-border tbody tr td:first-child
		border-left: 1px solid #ddd

	table.dataTable.cell-border tbody tr:first-child th,
	table.dataTable.cell-border tbody tr:first-child td
		border-top: none

	table.dataTable.stripe tbody tr.odd,
	table.dataTable.display tbody tr.odd
		background-color: #f9f9f9

	table.dataTable.stripe tbody tr.odd.selected,
	table.dataTable.display tbody tr.odd.selected
		background-color: #acbad4

	table.dataTable.hover tbody tr:hover,
	table.dataTable.display tbody tr:hover
		background-color: #f6f6f6

	table.dataTable.hover tbody tr:hover.selected,
	table.dataTable.display tbody tr:hover.selected
		background-color: #aab7d1

	table.dataTable.order-column tbody tr > .sorting_1,
	table.dataTable.order-column tbody tr > .sorting_2,
	table.dataTable.order-column tbody tr > .sorting_3,
	table.dataTable.display tbody tr > .sorting_1,
	table.dataTable.display tbody tr > .sorting_2,
	table.dataTable.display tbody tr > .sorting_3
		background-color: #fafafa

	table.dataTable.order-column tbody tr.selected > .sorting_1,
	table.dataTable.order-column tbody tr.selected > .sorting_2,
	table.dataTable.order-column tbody tr.selected > .sorting_3,
	table.dataTable.display tbody tr.selected > .sorting_1,
	table.dataTable.display tbody tr.selected > .sorting_2,
	table.dataTable.display tbody tr.selected > .sorting_3
		background-color: #acbad5

	table.dataTable.display tbody tr.odd > .sorting_1,
	table.dataTable.order-column.stripe tbody tr.odd > .sorting_1
		background-color: #f1f1f1

	table.dataTable.display tbody tr.odd > .sorting_2,
	table.dataTable.order-column.stripe tbody tr.odd > .sorting_2
		background-color: #f3f3f3

	table.dataTable.display tbody tr.odd > .sorting_3,
	table.dataTable.order-column.stripe tbody tr.odd > .sorting_3
		background-color: whitesmoke

	table.dataTable.display tbody tr.odd.selected > .sorting_1,
	table.dataTable.order-column.stripe tbody tr.odd.selected > .sorting_1
		background-color: #a6b4cd

	table.dataTable.display tbody tr.odd.selected > .sorting_2,
	table.dataTable.order-column.stripe tbody tr.odd.selected > .sorting_2
		background-color: #a8b5cf

	table.dataTable.display tbody tr.odd.selected > .sorting_3,
	table.dataTable.order-column.stripe tbody tr.odd.selected > .sorting_3
		background-color: #a9b7d1

	table.dataTable.display tbody tr.even > .sorting_1,
	table.dataTable.order-column.stripe tbody tr.even > .sorting_1
		background-color: #fafafa

	table.dataTable.display tbody tr.even > .sorting_2,
	table.dataTable.order-column.stripe tbody tr.even > .sorting_2
		background-color: #fcfcfc

	table.dataTable.display tbody tr.even > .sorting_3,
	table.dataTable.order-column.stripe tbody tr.even > .sorting_3
		background-color: #fefefe

	table.dataTable.display tbody tr.even.selected > .sorting_1,
	table.dataTable.order-column.stripe tbody tr.even.selected > .sorting_1
		background-color: #acbad5

	table.dataTable.display tbody tr.even.selected > .sorting_2,
	table.dataTable.order-column.stripe tbody tr.even.selected > .sorting_2
		background-color: #aebcd6

	table.dataTable.display tbody tr.even.selected > .sorting_3,
	table.dataTable.order-column.stripe tbody tr.even.selected > .sorting_3
		background-color: #afbdd8

	table.dataTable.display tbody tr:hover > .sorting_1,
	table.dataTable.order-column.hover tbody tr:hover > .sorting_1
		background-color: #eaeaea

	table.dataTable.display tbody tr:hover > .sorting_2,
	table.dataTable.order-column.hover tbody tr:hover > .sorting_2
		background-color: #ececec

	table.dataTable.display tbody tr:hover > .sorting_3,
	table.dataTable.order-column.hover tbody tr:hover > .sorting_3
		background-color: #efefef

	table.dataTable.display tbody tr:hover.selected > .sorting_1,
	table.dataTable.order-column.hover tbody tr:hover.selected > .sorting_1
		background-color: #a2aec7

	table.dataTable.display tbody tr:hover.selected > .sorting_2,
	table.dataTable.order-column.hover tbody tr:hover.selected > .sorting_2
		background-color: #a3b0c9

	table.dataTable.display tbody tr:hover.selected > .sorting_3,
	table.dataTable.order-column.hover tbody tr:hover.selected > .sorting_3
		background-color: #a5b2cb

	table.dataTable.nowrap th, table.dataTable.nowrap td
		white-space: nowrap

	table.dataTable.compact thead th,
	table.dataTable.compact thead td
		padding: 4px 17px 4px 4px

	table.dataTable.compact tfoot th,
	table.dataTable.compact tfoot td
		padding: 4px

	table.dataTable.compact tbody th,
	table.dataTable.compact tbody td
		padding: 4px

	table.dataTable th.dt-left,
	table.dataTable td.dt-left
		text-align: left

	table.dataTable th.dt-center,
	table.dataTable td.dt-center,
	table.dataTable td.dataTables_empty
		text-align: center

	table.dataTable th.dt-right,
	table.dataTable td.dt-right
		text-align: right

	table.dataTable th.dt-justify,
	table.dataTable td.dt-justify
		text-align: justify

	table.dataTable th.dt-nowrap,
	table.dataTable td.dt-nowrap
		white-space: nowrap

	table.dataTable thead th.dt-head-left,
	table.dataTable thead td.dt-head-left,
	table.dataTable tfoot th.dt-head-left,
	table.dataTable tfoot td.dt-head-left
		text-align: left

	table.dataTable thead th.dt-head-center,
	table.dataTable thead td.dt-head-center,
	table.dataTable tfoot th.dt-head-center,
	table.dataTable tfoot td.dt-head-center
		text-align: center

	table.dataTable thead th.dt-head-right,
	table.dataTable thead td.dt-head-right,
	table.dataTable tfoot th.dt-head-right,
	table.dataTable tfoot td.dt-head-right
		text-align: right

	table.dataTable thead th.dt-head-justify,
	table.dataTable thead td.dt-head-justify,
	table.dataTable tfoot th.dt-head-justify,
	table.dataTable tfoot td.dt-head-justify
		text-align: justify

	table.dataTable thead th.dt-head-nowrap,
	table.dataTable thead td.dt-head-nowrap,
	table.dataTable tfoot th.dt-head-nowrap,
	table.dataTable tfoot td.dt-head-nowrap
		white-space: nowrap

	table.dataTable tbody th.dt-body-left,
	table.dataTable tbody td.dt-body-left
		text-align: left

	table.dataTable tbody th.dt-body-center,
	table.dataTable tbody td.dt-body-center
		text-align: center

	table.dataTable tbody th.dt-body-right,
	table.dataTable tbody td.dt-body-right
		text-align: right

	table.dataTable tbody th.dt-body-justify,
	table.dataTable tbody td.dt-body-justify
		text-align: justify

	table.dataTable tbody th.dt-body-nowrap,
	table.dataTable tbody td.dt-body-nowrap
		white-space: nowrap

	table.dataTable,
	table.dataTable th,
	table.dataTable td
		box-sizing: content-box



	// Control feature layout

	.dataTables_wrapper
		clear: both
		display: flex
		flex-wrap: wrap
		justify-content: space-between
		position: relative
		zoom: 1

	.dataTables_wrapper
		label
			align-items: center
			display: flex
			font-size: 1rem

		input
			background: $input-bg
			background-clip: padding-box
			background-image: none
			border: $input-border
			border-radius: $input-border-radius
			color: $input-color
			display: inline-block
			font-family: $input-font-family
			font-size: $input-font-size
			line-height: 1.25
			margin: 0
			padding: 0.5rem
			transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s
			width: 100%
			&::-ms-expand
				background-color: transparent
				border: 0
			&:focus
				background: $input-bg-focus
				border: $input-border-focus
				color: $input-color-focus
				outline: none
			&::-webkit-input-placeholder, &:-ms-input-placeholder, &::placeholder
				color: $input-placeholder-color
				opacity: 1
			&:disabled, &[readonly]
				background: $input-bg-disabled
				opacity: 1

		select
			appearance: none
			-moz-appearance: none
			-webkit-appearance: none
			background: $select-bg url("../assets/icons/#{$select-icon}.svg") no-repeat right 0.75rem center
			background-size: $select-icon-size $select-icon-size
			border: $select-border
			border-radius: $select-border-radius
			color: $select-color
			display: inline-block
			font-size: $select-font-size
			line-height: 1.25
			padding: 0.5rem
			vertical-align: middle
			width: 70px

	.dataTables_wrapper .dataTables_length
		align-items: center
		display: flex
		float: left
		select
			margin: 0 1rem

	.dataTables_wrapper .dataTables_filter
		display: flex
		float: right
		text-align: right

	.dataTables_wrapper .dataTables_filter input
		margin-left: 1em
		width: 200px

	.dataTables_wrapper .dataTables_info
		clear: both
		float: left
		padding-top: 1em

	.dataTables_wrapper .dataTables_paginate
		display: flex
		float: right
		padding-top: 0.75em
		text-align: right

	.dataTables_wrapper .dataTables_paginate .paginate_button
		align-items: center
		background: $pagination-num-bg
		border: $pagination-num-border
		border-radius: $pagination-num-border-radius
		color: $pagination-num-color
		display: flex
		font-size: $pagination-num-font-size
		font-family: $pagination-num-font-family
		height: $pagination-num-height
		justify-content: center
		margin: $pagination-num-margin
		padding: $pagination-num-padding
		text-decoration: $pagination-num-text-decoration
		width: $pagination-num-width
		&:hover
			background: $pagination-num-bg-hover
			border: $pagination-num-border-hover
			color: $pagination-num-color-hover

	.dataTables_wrapper .dataTables_paginate .paginate_button.current,
	.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover
		background: $pagination-num-bg-active
		border: $pagination-num-border-active
		color: $pagination-num-color-active
		pointer-events: none
		&:hover
			background: $pagination-num-bg-hover-active
			border: $pagination-num-border-hover-active
			color: $pagination-num-color-hover-active

	.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
	.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
	.dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active
		background: $pagination-btn-bg-disabled
		border: $pagination-btn-border-disabled
		color: $pagination-btn-color-disabled
		pointer-events: none

	.dataTables_wrapper .dataTables_paginate .paginate_button.previous,
	.dataTables_wrapper .dataTables_paginate .paginate_button.next
		align-items: center
		background: $pagination-btn-bg
		border: $pagination-btn-border
		border-radius: $pagination-btn-border-radius
		color: $pagination-btn-color
		display: flex
		font-size: $pagination-btn-font-size
		font-family: $pagination-btn-font-family
		justify-content: center
		text-align: center
		padding: $pagination-btn-padding
		text-transform: $pagination-btn-text-transform
		text-decoration: $pagination-btn-text-decoration
		vertical-align: middle
		width: auto
		&:hover
			background: $pagination-btn-bg-hover
			border: $pagination-btn-border-hover
			color: $pagination-btn-color-hover
		&.disabled
			background: $pagination-btn-bg-disabled
			border: $pagination-btn-border-disabled
			color: $pagination-btn-color-disabled
			pointer-events: none

	.dataTables_wrapper .dataTables_paginate .paginate_button.previous
		margin: $pagination-btn-prev-margin

	.dataTables_wrapper .dataTables_paginate .paginate_button.next
		margin: $pagination-btn-next-margin

	.dataTables_wrapper .dataTables_paginate .ellipsis
		padding: 0 1em

	.dataTables_wrapper .dataTables_processing
		background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(25%, rgba(255, 255, 255, 0.9)), color-stop(75%, rgba(255, 255, 255, 0.9)), color-stop(100%, rgba(255, 255, 255, 0)))
		background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%)
		background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%)
		background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%)
		background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%)
		background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%)
		background-color: white
		font-size: 1.2em
		height: 40px
		left: 50%
		margin-left: -50%
		margin-top: -25px
		padding-top: 20px
		position: absolute
		text-align: center
		top: 50%
		width: 100%
		z-index: 1

	.dataTables_wrapper .dataTables_length,
	.dataTables_wrapper .dataTables_filter,
	.dataTables_wrapper .dataTables_info,
	.dataTables_wrapper .dataTables_processing,
	.dataTables_wrapper .dataTables_paginate
		color: #333

	.dataTables_wrapper .dataTables_scroll
		clear: both

	.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody
		*margin-top: -1px
		-webkit-overflow-scrolling: touch

	.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > thead > tr > th,
	.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > thead > tr > td,
	.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > tbody > tr > th,
	.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > tbody > tr > td
		vertical-align: middle

	.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > thead > tr > th > div.dataTables_sizing,
	.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > thead > tr > td > div.dataTables_sizing,
	.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > tbody > tr > th > div.dataTables_sizing,
	.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > tbody > tr > td > div.dataTables_sizing
		height: 0
		margin: 0 !important
		overflow: hidden
		padding: 0 !important

	.dataTables_wrapper.no-footer .dataTables_scrollBody
		border-bottom: 1px solid #111

	.dataTables_wrapper.no-footer div.dataTables_scrollHead table.dataTable,
	.dataTables_wrapper.no-footer div.dataTables_scrollBody > table
		border-bottom: none

	@media screen and (max-width: 767px)
		.dataTables_wrapper .dataTables_info,
		.dataTables_wrapper .dataTables_paginate
			float: none
			text-align: center
		.dataTables_wrapper .dataTables_paginate
			margin-top: 0.5em

	@media screen and (max-width: 640px)
		.dataTables_wrapper .dataTables_length,
		.dataTables_wrapper .dataTables_filter
			float: none
			text-align: center
		.dataTables_wrapper .dataTables_filter
			margin-top: 0.5em
