// POPUPS
// =====================================================================

@if $popupActive == true

	.popup
		background: $popup-bg
		width: 100%
		height: 100%
		position: fixed
		padding: 0 15px
		top: 0
		left: 0
		z-index: 9999

		.popup-container
			max-width: $popup-container-width
			background: $popup-container-bg
			margin: $popup-container-margin
			padding: 0
			border-radius: $popup-container-border-radius

			.popup-header
				position: relative
				border-radius: 0.5rem 0.5rem 0 0
				padding: $popup-header-padding
				background: $popup-header-bg
				border-bottom: $popup-header-border

				.title
					color: $popup-title-color
					font-size: $popup-title-font-size
					font-family: $popup-title-font-family
					text-transform: $popup-title-text-transform
					margin: $popup-title-margin
					padding: $popup-title-padding

				.btn-popup-close
					position: absolute
					right: $popup-close-right
					top: $popup-close-top
					width: $popup-close-widht
					height: $popup-close-height
					cursor: pointer

					&:before
						width: 100%
						height: 100%
						margin: 0
						padding: 0
						
			.popup-body
				position: relative
				border-radius: 0 0 0.5rem 0.5rem
				background: $popup-body-bg
				padding: $popup-body-padding
				max-height: 60vh
				overflow-y: auto