// SITEMAP
// =====================================================================
	
.sitemap ul
	list-style-type: none
	list-style: none

	li
		padding-left: 0

		&:before
			display: none

		a
			color: $color-text
			text-decoration: none

			&:hover
				color: $color-primary

		ul li
			margin-left: 20px