// SLIDER / CAROUSEL / SLICKSLIDER
// =====================================================================

@if $sliderActive == true

	.slickSlider
		position: relative
		display: block
		box-sizing: border-box
		-webkit-touch-callout: none
		-webkit-user-select: none
		-khtml-user-select: none
		-moz-user-select: none
		-ms-user-select: none
		user-select: none
		-ms-touch-action: pan-y
		touch-action: pan-y
		-webkit-tap-highlight-color: transparent

	.slick-list
		position: relative
		overflow: hidden
		display: block
		margin: 0
		padding: 0

		&:focus
			outline: none

		&.dragging
			cursor: pointer
			cursor: hand

	.slickSlider .slick-track,
	.slickSlider .slick-list
		-webkit-transform: translate3d(0, 0, 0)
		-moz-transform: translate3d(0, 0, 0)
		-ms-transform: translate3d(0, 0, 0)
		-o-transform: translate3d(0, 0, 0)
		transform: translate3d(0, 0, 0)

	.slick-track
		position: relative
		left: 0
		top: 0
		display: block

		&:before,
		&:after
			content: ""
			display: table

		&:after
			clear: both

		.slick-loading &
			visibility: hidden

	.slick-slide
		float: left
		height: 100%
		min-height: 1px
		display: none

		[dir="rtl"] &
			float: right

		img
			display: block

		&.slick-loading img
			display: none

		&.dragging img
			pointer-events: none

		.slick-initialized &
			display: block

		.slick-loading &
			visibility: hidden

		.slick-vertical &
			display: block
			height: auto
			border: 1px solid transparent

		&:focus, a
			outline: none

	.slick-arrow.slick-hidden
		display: none

	.slickSlider--home
		height: $home-slider-height

		.slickSlider__item
			height: $home-slider-height
			position: relative

			.img-frame
				height: $home-slider-height

				&:before
					content: ''
					display: block
					position: absolute
					top: 0
					left: 0
					width: 100%
					height: 100%
					background: $home-slider-mask

	.claim-container
		position: absolute
		display: block
		height: 100%
		top: 0
		left: 50%
		transform: translateX(-50%)
		display: flex
		justify-content: $home-slider-justify-content
		align-items: $home-slider-align-items

	.claim
		width: $home-slider-claim-width
		padding: $home-slider-claim-padding

		.title
			color: $home-slider-em-color

		p
			margin: $home-slider-text-margin
			color: $home-slider-text-color
			font-size: $home-slider-text-font-size
			font-family: $home-slider-text-font-family

		.btn
			padding: $home-slider-btn-padding
			margin: $home-slider-btn-margin

	// RESPONSIVE STYLES

	@media (min-width: $breakpoint-slider)
		.slickSlider--home
			height: $home-slider-height-max

			.slickSlider__item
				height: $home-slider-height-max

				.img-frame
					height: $home-slider-height-max

		.claim-container
			justify-content: $home-slider-justify-content-max
			align-items: $home-slider-align-items-max

			.claim
				width: $home-slider-claim-width-max
				padding: $home-slider-claim-padding-max

				.title
					color: $home-slider-em-color-max

				p
					margin: $home-slider-text-margin-max
					color: $home-slider-text-color-max
					font-size: $home-slider-text-font-size-max
					font-family: $home-slider-text-font-family-max
				.btn
					padding: $home-slider-btn-padding-max
					margin: $home-slider-btn-margin-max

	// Arrows

	.slick-prev,
	.slick-next
		position: absolute
		display: flex
		justify-content: center
		align-items: center
		height: $slider-arrow-height
		width: $slider-arrow-width
		background: $slider-arrow-bg
		color: $slider-arrow-color
		padding: $slider-arrow-padding
		cursor: pointer
		border: none
		outline: none
		z-index: 9
		line-height: 0

		&:hover
			background: $slider-arrow-bg-hover
			color: $slider-arrow-color-hover

		&:focus
			outline: none

		&.slick-disabled:before
			opacity: .5

		&:before
			content: ''
			display: block
			background-size: 100%
			height: $slider-icon-height
			width: $slider-icon-width

	.slick-prev
		top: $slider-icon-prev-top
		right: $slider-icon-prev-right
		bottom: $slider-icon-prev-bottom
		left: $slider-icon-prev-left

		&:before
			background-image: url(/assets/icons/#{$slider-icon-prev}.svg)
		&:hover
			&:before
				background-image: url(/assets/icons/#{$slider-icon-prev-hover}.svg)

	.slick-next
		top: $slider-icon-next-top
		right: $slider-icon-next-right
		bottom: $slider-icon-next-bottom
		left: $slider-icon-next-left

		&:before
			background-image: url(/assets/icons/#{$slider-icon-next}.svg)
		&:hover
			&:before
				background-image: url(/assets/icons/#{$slider-icon-next-hover}.svg)


	// Dots
	.slick-dots
		position: absolute
		width: 100%
		height: auto
		top: $slide-dots-top
		right: $slide-dots-right
		bottom: $slide-dots-bottom
		left: $slide-dots-left
		list-style: none
		display: block
		padding: 0
		margin: 0
		line-height: 0
		text-align: center

		li
			position: relative
			display: inline-block
			margin: 0
			padding: 0
			cursor: pointer
			&:before
				display: none

			button
				height: $slide-dot-height
				width: $slide-dot-width
				padding: $slide-dot-padding
				margin: $slide-dot-margin
				border: 0
				background: transparent
				display: block
				outline: none
				color: transparent
				cursor: pointer

				&:hover, &:focus
					outline: none

					&:before
						background: $slide-dot-bg-hover
						border: $slide-dot-border-hover
						border-radius: $slide-dot-border-radius-hover

				&:before
					content: ''
					display: block
					width: $slide-dot-width
					height: $slide-dot-height
					background: $slide-dot-bg
					border: $slide-dot-border
					border-radius: $slide-dot-border-radius


			&.slick-active button:before
				background: $slide-dot-bg-active
				border: $slide-dot-border-active
				border-radius: $slide-dot-border-radius-active
