// HEADINGS / TITULARES / H1-H2-H3-H4
// ========================================================================

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6, .h-display
	font-family: $headings-font-family
	color: $headings-color
	font-weight: normal

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, .h-display a
	color: $headings-link-color
	text-decoration: $headings-link-text-decoration

.h-display
	color: $h-display-color
	font-size: $h-display-font-size
	font-family: $h-display-font-family
	text-align: $h-display-text-align
	text-transform: $h-display-text-transform
	margin: $h-display-margin
	line-height: $h-display-line-height
	letter-spacing: $h-display-letter-spacing

h1, .h1
	color: $h1-color
	font-size: $h1-font-size
	font-family: $h1-font-family
	text-align: $h1-text-align
	text-transform: $h1-text-transform
	margin: $h1-margin
	line-height: $h1-line-height
	letter-spacing: $h1-letter-spacing

h2, .h2
	color: $h2-color
	font-size: $h2-font-size
	font-family: $h2-font-family
	text-align: $h2-text-align
	text-transform: $h2-text-transform
	margin: $h2-margin
	line-height: $h2-line-height
	letter-spacing: $h2-letter-spacing

h3, .h3
	color: $h3-color
	font-size: $h3-font-size
	font-family: $h3-font-family
	text-align: $h3-text-align
	text-transform: $h3-text-transform
	margin: $h3-margin
	line-height: $h3-line-height
	letter-spacing: $h3-letter-spacing

h4, .h4
	color: $h4-color
	font-size: $h4-font-size
	font-family: $h4-font-family
	text-align: $h4-text-align
	text-transform: $h4-text-transform
	margin: $h4-margin
	line-height: $h4-line-height
	letter-spacing: $h4-letter-spacing

@media (min-width: $grid-breakpoint)
	.h-display
		font-size: $h-display-font-size-max
		text-align: $h-display-text-align-max
		margin: $h-display-margin-max
		line-height: $h-display-line-height-max
		letter-spacing: $h-display-letter-spacing-max

	h1, .h1
		font-size: $h1-font-size-max
		text-align: $h1-text-align-max
		margin: $h1-margin-max
		line-height: $h1-line-height-max
		letter-spacing: $h1-letter-spacing-max

	h2, .h2
		font-size: $h2-font-size-max
		text-align: $h2-text-align-max
		margin: $h2-margin-max
		line-height: $h2-line-height-max
		letter-spacing: $h2-letter-spacing-max

	h3, .h3
		font-family: $h3-font-family-max
		font-size: $h3-font-size-max
		text-align: $h3-text-align-max
		margin: $h3-margin-max
		line-height: $h3-line-height-max
		letter-spacing: $h3-letter-spacing-max

	h4, .h4
		font-family: $h4-font-family-max
		font-size: $h4-font-size-max
		text-align: $h4-text-align-max
		margin: $h4-margin-max
		line-height: $h4-line-height-max
		letter-spacing: $h4-letter-spacing-max
