// LANG MENU HEADER
// =====================================================================

@if ($langActive == true)

	.langMenu
		position: relative
		z-index: 1
		margin: $lang-menu-padding

		a, span
			margin: $lang-menu-link-margin
			color: $lang-menu-link-color
			padding: $lang-menu-link-padding
			font-family: $lang-menu-link-font-family
			font-size: $lang-menu-link-font-size
			text-decoration: $lang-menu-link-text-decoration
			text-transform: $lang-menu-link-text-transform
			background: $lang-menu-link-bg
			cursor: pointer
			display: inline-block

			&.current
				color: $lang-menu-link-color-current
				text-decoration: $lang-menu-link-text-decoration-current
				background: $lang-menu-link-bg-current

	@media (min-width:  $breakpoint-lang-menu)
		.langMenu
			position: absolute
			width: auto
			top: $lang-menu-top-max
			right: $lang-menu-right-max
			bottom: $lang-menu-bottom-max
			left: $lang-menu-left-max
			margin: $lang-menu-padding-max

			a, span
				margin: $lang-menu-link-margin-max
				color: $lang-menu-link-color-max
				padding: $lang-menu-link-padding-max
				font-family: $lang-menu-link-font-family-max
				font-size: $lang-menu-link-font-size-max
				text-decoration: $lang-menu-link-text-decoration-max
				text-transform: $lang-menu-link-text-transform-max
				background: $lang-menu-link-bg-max
				cursor: pointer
				display: inline-block

				&:hover
					color: $lang-menu-link-color-hover-max
					text-decoration: $lang-menu-link-text-decoration-hover-max
					background: $lang-menu-link-bg-hover-max

				&.current
					color: $lang-menu-link-color-current-max
					text-decoration: $lang-menu-link-text-decoration-current-max
					background: $lang-menu-link-bg-current-max

			&.langMenu--select
				span
					display: inline-flex
					justify-content: center
					align-items: center

					&:after
						content: ''
						display: block
						background-image: url(../assets/icons/#{$lang-menu-icon}.svg)
						background-repeat: no-repeat
						background-size: 100%
						width: $lang-menu-icon-width
						height: $lang-menu-icon-height
						margin-left: 3px

				a
					display: none

				&:hover a
					display: block
