// LOGO / MARCA / LOGOTIPO
// =====================================================================

header #logo
	position: absolute
	width: $logo-width
	height: auto
	top: $logo-top
	left: $logo-left
	z-index: 2
	
	img
		width: 100%

@media (min-width: $breakpoint-logo)

	header #logo
		width: $logo-width-max
		left: $logo-left-max
		top: $logo-top-max
