.pr
	position: relative

.pa-tl
	position: absolute
	top: 0
	left: 0

.pa-tr
	position: absolute
	top: 0
	right: 0

.pa-tc
	position: absolute
	top: 0
	left: 50%
	transform: translateX(-50%)

.pa-bl
	position: absolute
	bottom: 0
	left: 0

.pa-br
	position: absolute
	right: 0
	bottom: 0

.pa-bc
	position: absolute
	bottom: 0
	left: 50%
	transform: translateX(-50%)

@each $breakpoint, $size in $breackpoints
	@media (min-width: #{$size})
		.pr#{$breakpoint}
			position: relative

		.pa#{$breakpoint}-tl
			position: absolute
			top: 0
			left: 0

		.pa#{$breakpoint}-tr
			position: absolute
			top: 0
			right: 0

		.pa#{$breakpoint}-tc
			position: absolute
			top: 0
			left: 50%
			transform: translateX(-50%)

		.pa#{$breakpoint}-bl
			position: absolute
			bottom: 0
			left: 0

		.pa#{$breakpoint}-br
			position: absolute
			right: 0
			bottom: 0

		.pa#{$breakpoint}-bc
			position: absolute
			bottom: 0
			left: 50%
			transform: translateX(-50%)