// TYPE / FONTS / TIPOS / TIPOGRAFIA
// ========================================================================

@each $type in $types
	@font-face
		font-family: '#{$type}'
		src: url('../assets/type/#{$type}-webfont.eot')
		src: local('#{$type}'), url('../assets/type/#{$type}-webfont.eot?#iefix') format('embedded-opentype'), url('../assets/type/#{$type}-webfont.woff') format('woff'), url('../assets/type/#{$type}-webfont.woff2') format('woff2')
		font-weight: normal
		font-style: normal
		font-display: swap

html, body
	font-family: $font-family
	font-size: $font-size
	line-height: $line-height

@media (min-width: $breakpoint-font-size)
	html, body
		font-size: $font-size-max
		line-height: $line-height-max	

p
	font-family: $paragraph-font-family
	margin: $paragraph-margin

small,
.small
	display: inline-block
	font-size: $font-size-small

b,
strong
	font-weight: inherit
	font-family: $font-family-bold
	letter-spacing: $strong-letter-spacing

a
	color: $link-color
	font-family: $link-font-family
	text-decoration: $link-text-decoration
	
	&:hover
		color: $link-color-hover
		text-decoration: $link-text-decoration-hover

em
	font-weight: inherit
	font-family: $em-font-family
	letter-spacing: $em-letter-spacing

blockquote,
.blockquote
	color: $blockquote-color
	font-family: $blockquote-font-family
	font-size: $blockquote-font-size
	line-height: $blockquote-line-height
	margin: $blockquote-margin

hr
	margin: $hr-margin
	background: $hr-bg
	height: $hr-height
	border: 0